<template>
  <div class="content-body">
    <b-row>
      <b-col>
        <b-card no-body>
          <b-card-body>
            <b-row class="mb-1">
              <b-col md="4">
                <b-form-group
                  label="Search"
                  class="mb-0"
                >
                  <b-input-group>
                    <b-form-input
                      v-model="search"
                      placeholder="Type to Search"
                      @keydown.enter.native="searching"
                    />
                    <b-button
                      v-if="search"
                      variant="danger"
                      class="btn-square ml-2"
                      @click="clear"
                    >
                      Clear
                    </b-button>
                  </b-input-group>
                </b-form-group>
              </b-col>
              <b-col md="2">
                <b-form-group
                  label="Per Page"
                  class="mb-0"
                >
                  <b-form-select
                    v-model="params.limit"
                    :options="options"
                  />
                </b-form-group>
              </b-col>
              <b-col class="text-right mt-2">
                <b-btn
                  variant="primary"
                  class="primary-gradient btn-add-item mb-3 btn-square"
                  @click="addActive = true"
                >
                  Add {{ data.name }}
                </b-btn>
              </b-col>
            </b-row>
            <template v-if="addActive">
              <b-row>
                <b-col
                  md="3"
                  class="float-right"
                >
                  <b-form-group label="Privy ID">
                    <b-form-input v-model="user.username" />
                  </b-form-group>
                </b-col>
                <b-col md="3">
                  <b-form-group label="Level">
                    <b-form-select
                      v-model="user.level"
                      :options="levelOptions"
                    />
                  </b-form-group>
                </b-col>
                <b-col
                  md="3"
                  class="mr-3 mt-4"
                >
                  <b-button
                    variant="danger"
                    class="btn-square"
                    @click="addUser"
                  >
                    Add
                  </b-button>
                  <b-button
                    variant="danger"
                    class="btn-square"
                    @click="cancel"
                  >
                    Cancel
                  </b-button>
                </b-col>
              </b-row>
              <template v-if="error">
                <b-row>
                  <b-col
                    md="6"
                    class="my-1 pt-0 text-center"
                  >
                    <span class="text-danger">
                      <small>{{ errorMessage }}</small>
                    </span>
                  </b-col>
                </b-row>
              </template>
            </template>
            <b-table
              v-model="tableValues"
              :items="users"
              :fields="userFields"
              hover
              fixed
            >
              <template
                slot="role"
                slot-scope="row"
              >
                <b-form-select
                  v-model="row.item.role"
                  :options="roleOptions"
                  @change.native="changeStatus($event,row.item.id)"
                />
              </template>
            </b-table>
            <b-row>
              <b-col class="my-1">
                <p class="text-secondary text-right">
                  <small>Showing {{ startCount }} to {{ endCount }} of {{ params.total_objects }} Entries</small>
                </p>
                <b-pagination
                  v-if="isActive"
                  v-model="params.page"
                  :total-rows="params.total_objects"
                  :per-page="params.limit"
                  align="right"
                />
              </b-col>
            </b-row>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </div>
  <!-- .CONTENT-BODY -->
</template>

<script>
import _ from 'lodash'

export default {
  layout    : 'settings',
  middleware: ['auth', 'admin-auth'],
  props     : ['data'],
  data () {
    return {
      radioSelected: false,
      selectAll    : false,
      addActive    : false,
      error        : false,

      roleSelected: null,
      search      : null,
      errorMessage: null,

      users       : [],
      selected    : [],
      tableValues : [],
      levelOptions: [],
      user        : {
        username: '',
        level   : '',
      },
      userFields: [
        {
          key  : 'username',
          label: 'Privy ID',
        },
        {
          key  : 'name',
          label: 'Name',
        },
        {
          key  : 'email',
          label: 'Email',
        },
        {
          key  : 'role',
          label: 'User Role',
        },
      ],
      roleOptions: [],
      params     : {
        page         : 1,
        limit        : 10,
        total_objects: 0,
      },
      count: { start: 1 },
    }
  },

  computed: {
    isActive () {
      const total = this.params.total_objects
      const limit = this.params.limit

      if (total <= limit) return false
      return true
    },
    startCount () {
      const page  = this.params.page
      const limit = this.params.limit
      const total = this.params.total_objects

      if (page === 1 && total !== 0) return this.count.start
      else if (total === 0) return total
      return limit * (page - 1) + 1
    },
    endCount () {
      const page  = this.params.page
      const limit = this.params.limit
      const end   = limit * page
      const start = limit * (page - 1) + 1
      if (page === 1) {
        if (end >= this.params.total_objects) return this.params.total_objects
        return this.params.limit
      } else if (end >= this.params.total_objects)
        return this.params.total_objects
      return start + limit - 1
    },
    options () {
      return this.$store.get('session/options')
    },
  },

  watch: {
    'params.page'  : 'load',
    'params.limit' : 'load',
    'params.role'  : 'load',
    'row.item.role': 'update',
    search (val) {
      if (val === '') this.load()
    },
  },

  mounted () {
    this.load()
    this.loadRole()
    this.loadLevel()
  },

  methods: {
    clear () {
      this.reset()
      this.load()
    },
    reset () {
      this.search        = null
      this.user.username = ''
    },
    cancel () {
      this.addActive = false
      this.reset()
    },
    pageCheck () {
      const total = this.params.total_objects
      const limit = this.params.limit
      if (total < limit) this.params.page = 1
    },
    load () {
      this.pageCheck()
      const params = {
        name    : this.search,
        page    : this.params.page,
        per_page: this.params.limit,
        roles_id: this.data.id,
        karyawan: 1,
      }
      this.$axios
        .get('user', { params: params })
        .then((response) => {
          const user                = response.data.data
          this.users                = _.map(user, (item) => {
            return {
              id      : item.id,
              username: item.username,
              name    : item.name,
              email   : item.email,
              role    : item.role.id,
              karyawan: item.karyawan,
            }
          })
          this.params.total_objects = response.data.meta.pagination.total
        })
        .catch((err) => {
          console.error(err)
        })
    },
    searching () {
      const params = {
        name    : this.search,
        per_page: this.params.limit,
        roles_id: this.data.id,
        karyawan: 1,
      }
      this.$axios
        .get('user', { params: params })
        .then((response) => {
          const user                = response.data.data
          this.users                = _.map(user, (item) => {
            return {
              id      : item.id,
              username: item.username,
              name    : item.name,
              email   : item.email,
              role    : item.role.id,
              karyawan: item.karyawan,
            }
          })
          this.params.total_objects = response.data.meta.pagination.total
          this.params.page          = 1
        })
        .catch((err) => {
          console.error(err)
        })
    },
    loadRole () {
      this.$axios
        .get('role')
        .then((response) => {
          this.roleOptions = _.map(response.data.data, (item) => {
            return {
              value: item.id,
              text : item.name,
            }
          })
          this.params.role = this.roleOptions[0].value
        })
        .catch((err) => {
          console.error(err)
        })
    },
    loadLevel () {
      this.$axios
        .get('level')
        .then((response) => {
          this.levelOptions = _.map(response.data.data, (item) => {
            return {
              value: item.id,
              text : item.name,
            }
          })
          this.user.level   = this.levelOptions[0].value
        })
        .catch((err) => {
          console.error(err)
        })
    },
    changeStatus (event, id) {
      const data = {
        roles_id: event.target.value,
        users_id: id,
      }
      this.$axios
        .post(`update-role-user/${id}`, data)
        .then((response) => {
          this.load()
          this.$notify({
            type : 'success',
            title: 'Update Success',
            text : response.data.data.message,
          })
          // this.$store.dispatch('session/load')
          location.reload()
        })
        .catch((err) => {
          this.$notify({
            type : 'error',
            title: 'Update Failed',
            text : err.response.data.error.message,
          })
        })
    },
    addUser () {
      const data = {
        username: this.user.username,
        roles_id: this.data.id,
        level_id: this.user.level,
      }
      this.$axios
        .post('user-add', data)
        .then((response) => {
          this.load()
          this.$notify({
            type : 'success',
            title: 'Add Success',
            text : 'You have successfully add new User',
          })
          this.addActive = false
        })
        .catch((err) => {
          this.$notify({
            type : 'error',
            title: 'Add Failed',
            text : err.response.data.message,
          })
        })
    },
  },
}
</script>
