<template>
  <b-card>
    <b-row>
      <!-- MINIMUM VIEW -->
      <template v-if="viewSize === '8'">
        <b-col>
          <b-row no-gutters>
            <b-col
              md="2"
              class="mb-2 mr-md-2"
            >
              <datepicker
                v-model="range.start"
                :minimum-view="minView"
                :disabled-dates="disabledStart"
                :format="format"
                bootstrap-styling
                @input="onRange"
              />
            </b-col>
            <b-col
              md="2"
              class="mb-2 mr-md-2"
            >
              <datepicker
                v-model="range.end"
                :minimum-view="minView"
                :disabled-dates="disabledEnd"
                :format="format"
                bootstrap-styling
              />
            </b-col>
            <b-col
              md="3"
              class="text-right"
            >
              <b-form-radio-group
                v-model="group"
                :options="options"
                buttons
                button-variant="outline-primary"
              />
            </b-col>
            <b-col class="text-right">
              <!-- <b-form-radio-group
                v-model="type"
                :options="types"
                buttons
                button-variant="outline-primary"
              />-->
              <b-form-select :options="types" />
            </b-col>
          </b-row>
        </b-col>
      </template>
      <!-- MAXIMUM VIEW -->
      <template v-else>
        <b-col
          lg="3"
          class="mb-4"
        >
          <!-- <h4
            id="summary"
          class="card-title mb-0">Selamat Datang</h4>-->
          <!-- <div class="small text-muted">{{ titleDate }}</div> -->
        </b-col>
        <b-col lg="9">
          <b-row
            align-h="end"
            no-gutters
          >
            <b-col
              md="2"
              class="mb-2 mr-md-2"
            >
              <datepicker
                v-model="range.start"
                :minimum-view="minView"
                :disabled-dates="disabledStart"
                :format="format"
                bootstrap-styling
                @input="onRange"
              />
            </b-col>
            <b-col
              md="2"
              class="mb-2 mr-md-2"
            >
              <datepicker
                v-model="range.end"
                :minimum-view="minView"
                :disabled-dates="disabledEnd"
                :format="format"
                bootstrap-styling
              />
            </b-col>
            <b-col md="2">
              <!-- <b-form-radio-group v-model="type" :options="types" buttons button-variant="primary"/> -->
              <b-form-select
                v-model="type"
                :options="types"
              />
            </b-col>
            <b-col
              md="3"
              class="text-right"
            >
              <b-form-radio-group
                v-model="group"
                :options="options"
                buttons
                button-variant="primary"
              />
            </b-col>
          </b-row>
        </b-col>
      </template>
    </b-row>

    <template>
      <charts-line
        :labels="label"
        :type="group"
        :range="range"
        :data="data"
        class="chart-wrapper animated fadeIn"
        style="height:300px;"
        height="300"
      />

      <!-- <div slot="footer" class="animated fadeIn">
        <b-row align-h="center">
          <b-col
            v-for="(data,index) in footerData"
            :key="index"
            :md="true"
            class="text-center br br-1"
            cols="4"
          >
            <div class="text-muted">{{ data.name }}</div>
            <strong>{{ data.value }}</strong>
      </b-col>-->
      <!-- <b-col :md="true" class="text-center br br-1" cols="4">
            <div class="text-muted">Black Coffe</div>
            <strong>{{ parseNumber(total.data_black_coffe, 1) }}</strong>
          </b-col>

          <b-col :md="true" class="text-center br br-2" cols="4">
            <div class="text-muted">Matcha Latte</div>
            <strong>{{ parseNumber(total.data_matcha_latte, 1) }}</strong>
          </b-col>

          <b-col :md="true" class="text-center br br-3" cols="4">
            <div class="text-muted">Taro</div>
            <strong>{{ parseNumber(total.data_taro, 1) }}</strong>
          </b-col>

          <b-col :md="true" class="text-center br br-4" cols="4">
            <div class="text-muted">Toebroek</div>
            <strong>{{ total.data_toebroek }}</strong>
      </b-col>-->
      <!-- </b-row>
      </div>-->
    </template>
  </b-card>
</template>

<script>
/* eslint-disable camelcase */
import ChartsLine from './ChartsLine'
import moment from 'moment'
import _ from 'lodash'

export default {
  name      : 'MainCharts',
  components: { ChartsLine },
  props     : ['viewSize'],
  data () {
    return {
      isBusy: false,
      loaded: false,
      group : 'day',
      type  : null,
      leads : [],
      range : {
        start: moment()
          .startOf('M')
          .toDate(),
        end: moment().toDate(),
      },
      options: [
        { text: 'Day', value: 'day' },
        { text: 'Month', value: 'month' },
        { text: 'Year', value: 'year' },
      ],
      // types     : [{ text: 'Hot', value: 'hot' }, { text: 'Cold', value: 'cold' }],
      types     : [],
      label     : [],
      data      : [],
      footerData: [],
      total     : {
        data_black_coffe : 0,
        data_matcha_latte: 0,
        data_taro        : 0,
        data_toebroek    : 0,
        data_avogatto    : 0,
      },
    }
  },
  computed: {
    format () {
      if (this.group === 'day') return 'dd MMM yyyy'

      if (this.group === 'month') return 'MMM yyyy'

      return 'yyyy'
    },
    minView () {
      return this.group
    },
    disabledStart () {
      if (this.group === 'year') {
        return {
          from: moment(this.range.end)
            .subtract(1, 'y')
            .toDate(),
        }
      }

      return { from: new Date() }
    },
    disabledEnd () {
      if (this.group === 'day') {
        const end = moment(this.range.start)
          .add(1, 'M')
          .subtract(1, 'd')
        return {
          to: moment(this.range.start)
            .add(1, 'd')
            .toDate(),
          from: moment.min(end, moment()).toDate(),
        }
      }

      if (this.group === 'month') {
        const end = moment(this.range.start)
          .add(1, 'Y')
          .subtract(1, 'm')
        return {
          to: moment(this.range.start)
            .add(1, 'M')
            .toDate(),
          from: moment.min(end, moment()).toDate(),
        }
      }

      return {
        from: new Date(),
        to  : moment(this.range.start)
          .add(1, 'y')
          .toDate(),
      }
    },
    titleDate () {
      const start = moment(this.range.start)
      const end   = moment(this.range.end)

      if (this.group === 'day') {
        return moment(start).isSame(end, 'month')
          ? start.format('MMMM YYYY')
          : `${start.format('DD MMMM YYYY')} - ${end.format('DD MMMM YYYY')}`
      }

      if (this.group === 'month') {
        return moment(start).isSame(end, 'month')
          ? start.format('MMMM YYYY')
          : `${start.format('MMMM YYYY')} - ${end.format('MMMM YYYY')}`
      }

      if (this.group === 'year') {
        return moment(start).isSame(end, 'year')
          ? start.format('YYYY')
          : `${start.format('YYYY')} - ${end.format('YYYY')}`
      }

      return start.format('YYYY')
    },
    params () {
      if (this.group === 'day') {
        return {
          start_date: moment(this.range.start).format('YYYY-MM-DD'),
          end_date  : moment(this.range.end).format('YYYY-MM-DD'),
        }
      }

      if (this.group === 'month') {
        return {
          start_date: moment(this.range.start)
            .startOf('month')
            .format('YYYY-MM-DD'),
          end_date: moment(this.range.end)
            .endOf('month')
            .format('YYYY-MM-DD'),
        }
      }

      return {
        start_date: moment(this.range.start)
          .startOf('year')
          .format('YYYY-MM-DD'),
        end_date: moment(this.range.end)
          .endOf('year')
          .format('YYYY-MM-DD'),
      }
    },
  },
  watch: {
    group (val) {
      this.range.end = new Date()

      if (val === 'day') {
        this.range.start = moment()
          .startOf('M')
          .toDate()
      } else if (val === 'month') {
        this.range.start = moment()
          .startOf('Y')
          .toDate()
      } else if (val === 'year') {
        this.range.start = moment()
          .subtract(5, 'Y')
          .toDate()
      }
    },

    type (val) {
      this.load()
    },

    range: {
      deep: true,
      handler () {
        this.load()
      },
    },
  },
  created () {
    this.load()
    this.loadTypes()
    // this.$emit('param', this.params)
  },
  methods: {
    rgba (hex, opacity) {
      const h = hex.replace('#', '')
      const r = parseInt(h.substring(0, 2), 16)
      const g = parseInt(h.substring(2, 4), 16)
      const b = parseInt(h.substring(4, 6), 16)

      return `rgba(${r},${g},${b},${opacity / 100})`
    },
    getRandomColor () {
      const color = `#${((Math.random() * 0xFFFFFF) << 0).toString(16)}`
      return color
    },
    getLabel (key) {
      if (this.group === 'day') return moment(key, 'yyyy-MM-DD').format('DD')

      if (this.group === 'month') return moment(key, 'yyyy-MM').format('MMM')

      return key
    },
    parseNumber (n, d) {
      return n
    },
    onRange () {
      if (this.group === 'day') {
        const date     = moment(this.range.start)
          .add(1, 'M')
          .subtract(1, 'd')
        this.range.end = moment.min(date, moment()).toDate()
      }

      if (this.group === 'month') {
        const date     = moment(this.range.start)
          .add(1, 'Y')
          .subtract(1, 'm')
        this.range.end = moment.min(date, moment()).toDate()
      }
    },
    getTotal (data) {
      return data.reduce((item, total) => {
        return item + total
      }, 0)
    },
    load () {
      this.isBusy = true

      this.params.start_date = moment(this.range.start).format('YYYY-MM-DD')
      this.params.end_date   = moment(this.range.end).format('YYYY-MM-DD')
      this.$emit('param', this.params)

      this.$axios
        .get(`analytic/${this.group}/${this.type}`, { params: this.params })
        .then((response) => {
          if (response.status === 200) {
            this.data       = _.map(response.data.data, (item) => {
              return {
                label                    : item.name,
                backgrounColor           : this.rgba(this.getRandomColor(), 10),
                borderColor              : this.getRandomColor(),
                pointHoverBackgroundColor: '#FFF',
                borderWidth              : 2,
                data                     : item.quantity,
              }
            })
            this.label      = _.map(response.data.date, (item) => {
              return this.getLabel(item)
            })
            this.footerData = _.map(response.data.data, (item) => {
              return {
                name : item.name,
                value: item.total,
              }
            })
            this.isBusy     = false
          }
        })
        .catch((err) => {
          this.$notify({
            group: 'app',
            type : 'error',
            title: `[${err.response.status}]`,
            text : err.response.statusText,
          })
        })
    },
    loadTypes () {
      const data = {
        value: 0,
        text : 'All',
      }
      this.$axios
        .get('categories')
        .then((response) => {
          this.types = _.map(response.data.data, (item) => {
            return {
              value: item.id,
              text : item.name,
            }
          })
          this.types.unshift(data)
          this.type  = this.types[0].value
        })
        .catch((err) => {
          console.error(err)
        })
    },
  },
}
/* eslint-enable camelcase */
</script>

<style lang="scss" scoped>
.card {
  &-footer {
    padding: 0;
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.no-mr {
    margin: 0;
    border: none;

    .card {
      &-body {
        padding: 0.75rem;
      }
    }
  }
}
.br {
  cursor: pointer;
  padding: 8px 0;
  border-top: 5px solid #999999;
  background-color: rgba(0, 0, 0, 0.1);
  &.br {
    &-1 {
      border-top-color: #73c42a;
    }
    &-2 {
      border-top-color: #019d4e;
    }
    &-3 {
      border-top-color: #0ab0be;
    }
    &-4 {
      border-top-color: #d81e40;
    }
    &-5 {
      border-top-color: #f5a723;
    }
    &-6 {
      border-top-color: #0086ff;
    }
    &-7 {
      border-top-color: #0045c4;
    }
    &-8 {
      border-top-color: #fe01ea;
    }
  }
}
</style>
