<template>
  <section>
    <div class="content-body">
      <b-row>
        <b-col>
          <div class="search mb-3">
            <b-form @submit.prevent>
              <b-input-group>
                <b-input-group-text slot="prepend">
                  <strong class="text-default">
                    <i class="icon-magnifier" />
                  </strong>
                </b-input-group-text>
                <b-form-input
                  v-model="search"
                  placeholder="Search...."
                  @keydown.enter.native="searching"
                />
                <i
                  class="icon-close icons-layout icons-layout-search d-block d-sm-block active"
                  @click="clear"
                />
                <!-- <b-input-group-text slot="append">
                  <strong class="text-default">
                    <i class="icon-magnifier"/>
                  </strong>
                </b-input-group-text>-->
                <!-- <b-form-select :options="categoryOptions" v-model="selectedCategory"/> -->
                <!-- <b-button
                  v-if="search"
                  variant="danger"
                  class="btn-square ml-2"
                  @click="clear"
                >Clear</b-button>-->
                <i
                  class="icon-grid icons-layout icons-hover active"
                  @click="layout = 'grid'"
                />
                <i
                  class="icon-list icons-layout icons-hover"
                  @click="layout = 'list'"
                />
                <i
                  :class="{'any':hasData}"
                  class="icon-basket-loaded icons-layout icons-hover d-block d-sm-block d-md-none"
                  @click="showCart"
                />
              </b-input-group>
            </b-form>
          </div>
        </b-col>
      </b-row>
      <!-- MENU ITEM -->
      <b-row v-if="layout === 'grid'">
        <b-col
          v-for="items in items"
          :key="items.id"
          :md="checkRole"
          sm="6"
          class="mb-3"
        >
          <b-card
            class="orders"
            @click="showItems(items)"
          >
            <img
              :src="items.image"
              class="img-fluid"
              alt="img-menu"
            >
            <b-badge variant="default">
              {{ items.name }}
            </b-badge>
          </b-card>
        </b-col>
      </b-row>

      <div v-if="layout === 'list'">
        <b-row
          v-for="items in items"
          :key="items.id"
          class="mb-3"
        >
          <b-col
            md="3"
            sm="6"
          >
            <b-card class="list">
              <img
                :src="items.image"
                class="img-fluid"
                alt="img-menu"
              >
            </b-card>
          </b-col>
          <b-col>
            <b-card class="list">
              <b-row>
                <b-col>
                  <h5 class="ml-3 mt-2 mb-0 font-weight-bold">
                    {{ items.name }}
                  </h5>
                  <h6 class="mt-1 ml-3 font-weight-bold text-primary">
                    Rp. {{ items.price }}
                  </h6>
                </b-col>
                <b-col>
                  <b-button
                    variant="primary-gradient sm-gradient"
                    class="btn-square float-right mr-3 mt-3"
                    @click="showItems(items)"
                  >
                    <i class="icon-basket" />
                    <span>BUY</span>
                  </b-button>
                </b-col>
              </b-row>
            </b-card>
          </b-col>
        </b-row>
      </div>

      <b-row>
        <b-col class="my-1">
          <b-pagination
            v-if="isActive"
            v-model="params.page"
            :total-rows="params.total_objects"
            :per-page="params.limit"
            align="right"
          />
        </b-col>
      </b-row>
      <!-- PROCESS MODAL -->
      <b-modal
        v-model="orderSuccessModal"
        hide-footer
        hide-header
        no-close-on-backdrop
      >
        <b-form @submit.prevent>
          <div class="d-block text-center modal-orders">
            <h6 class="mt-3">
              Yeeay! You've just ordered something
            </h6>

            <span>Here is the detail of your order. Take your chill time while we process your order mate!</span>
            <table class="table mt-4 mb-4">
              <tbody>
                <tr>
                  <td>Order ID</td>
                  <td>{{ order_id }}</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>Rp. {{ total }}</td>
                </tr>
              </tbody>
            </table>
            <b-btn
              class="mb-3"
              variant="primary-gradient sm-gradient"
              @click="close"
            >
              I'LL WAIT
            </b-btn>
            <p class="small">
              Bring your tumblr to coffee shop, so that your order can be processed
            </p>
          </div>
        </b-form>
      </b-modal>
      <!-- close-order (pos) -->
      <!-- ADD MODAL -->
      <b-modal
        v-model="addModal"
        no-close-on-backdrop
      >
        <template slot="modal-header">
          <h4>Add to Cart</h4>
        </template>
        <div class="d-block modal-orders">
          <b-row>
            <b-col
              md="6"
              sm="6"
              class="text-center"
            >
              <div class="modal-orders__img">
                <img
                  :src="item_image"
                  class="img-fluid"
                  alt="img-menu"
                >
              </div>
              <h6 class="modal-orders__meta">
                {{ item_name }}
              </h6>
              <h6 class="modal-orders__meta text-primary">
                {{ str_item_price }}
              </h6>
            </b-col>
            <b-col
              md="6"
              sm="6"
            >
              <b-row>
                <b-col sm="5">
                  <b-form-group label="Qty">
                    <b-form-input
                      v-model="order.qty"
                      type="number"
                      min="1.00"
                    />
                  </b-form-group>
                </b-col>
                <b-col sm="12">
                  <b-form-group label="Noted">
                    <b-form-textarea
                      id="noted"
                      v-model="order.noted"
                      :rows="5"
                      :max-rows="8"
                      placeholder="Enter your noted..."
                    />
                  </b-form-group>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </div>
        <template slot="modal-footer">
          <b-col
            md="6"
            sm="6"
            class="text-left"
          >
            <b-button
              variant="default btn-sm-gradient"
              @click="cancelCart"
            >
              CANCEL
            </b-button>
          </b-col>
          <b-col
            md="6"
            sm="6"
            class="text-right"
          >
            <b-button
              :disabled="loading"
              variant="success-gradient btn-sm-gradient"
              @click="addCart"
            >
              ADD
            </b-button>
          </b-col>
        </template>
      </b-modal>

      <!-- EDIT MODAL -->
      <b-modal
        v-model="editModal"
        no-close-on-backdrop
      >
        <template slot="modal-header">
          <h4>Edit Order</h4>
        </template>
        <div class="d-block modal-orders">
          <b-row>
            <b-col
              md="6"
              sm="6"
              class="text-center"
            >
              <div class="modal-orders__img">
                <img
                  :src="item_image"
                  class="img-fluid"
                  alt="img-menu"
                >
              </div>
              <h6 class="modal-orders__meta">
                {{ item_name }}
              </h6>
              <h6 class="modal-orders__meta text-primary">
                {{ str_item_price }}
              </h6>
            </b-col>
            <b-col
              md="6"
              sm="6"
            >
              <b-row>
                <b-col sm="5">
                  <b-form-group label="Qty">
                    <!-- <b-form-select v-model="order.qty" :options="quantities"/> -->
                    <b-form-input
                      v-model="item_quantity"
                      type="number"
                      min="1.00"
                    />
                  </b-form-group>
                </b-col>
                <b-col sm="12">
                  <b-form-group label="Noted">
                    <b-form-textarea
                      id="noted"
                      v-model="item_noted"
                      :rows="5"
                      :max-rows="8"
                      placeholder="Enter your noted..."
                    />
                  </b-form-group>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </div>
        <template slot="modal-footer">
          <b-col
            md="6"
            sm="6"
            class="text-left"
          >
            <b-button
              variant="default btn-sm-gradient"
              @click="cancelUpdate"
            >
              CANCEL
            </b-button>
          </b-col>
          <b-col
            md="6"
            sm="6"
            class="text-right"
          >
            <b-button
              variant="success-gradient btn-sm-gradient"
              @click="updateOrders"
            >
              EDIT
            </b-button>
          </b-col>
        </template>
      </b-modal>
      <b-modal
        v-model="deleteModal"
        hide-footer
        hide-header
        centered
        no-close-on-backdrop
      >
        <div class="d-block text-center modal-orders">
          <h6 class="mt-3">
            Are You Sure to Delete This Order ?
          </h6>
          <b-row class="mb-3">
            <b-col sm="6">
              <b-button
                variant="danger-gradient sm-gradient btn-block"
                @click="destroyOrders"
              >
                YES
              </b-button>
            </b-col>
            <b-col sm="6">
              <b-button
                variant="primary-gradient sm-gradient btn-block"
                @click="deleteModal = false"
              >
                NO
              </b-button>
            </b-col>
          </b-row>
        </div>
      </b-modal>

      <!-- .END MODAL -->
    </div>
    <!-- .CONTENT-BODY -->
    <!-- SIDEBAR -->
    <sidebar-order
      :show="show"
      :user-level="user_level"
      :cart="cart"
      :index-list="indexList"
      :ppn="ppn"
      :privy-discount="discountData"
      :sub-total="subTotal"
      :ppn-price="ppnPrice"
      :discount="discount"
      :total="total"
      :error-message="errorMessage"
      :error="error"
      :access="access"
      :loading="loading"
      :process="process"
      :is-portion="isPortion"
      @edit="editOrders"
      @delete="remove"
      @order="makeOrders"
      @close="showCart"
    />
    <!-- SIDEBAR -->
  </section>
</template>

<script>
import _ from 'lodash'
import SidebarOrder from '~/components/order/SidebarOrder.vue'

export default {
  layout    : 'default',
  components: { SidebarOrder },
  middleware: 'auth',
  data () {
    return {
      orderSuccessModal: false,
      addModal         : false,
      editModal        : false,
      deleteModal      : false,
      alertModal       : false,
      error            : false,
      barista          : false,
      loading          : false,
      process          : false,
      show             : false,

      item_id         : null,
      item_image      : null,
      item_name       : null,
      item_type       : null,
      item_quantity   : null,
      item_price      : null,
      str_item_price  : null,
      item_noted      : null,
      order_id        : null,
      search          : null,
      errorMessage    : null,
      privyDiscount   : null,
      selectedCategory: null,
      layout          : 'grid',
      access          : 'order',
      ppn             : 10,

      index    : 0,
      indexList: 0,
      totals   : 0,

      items          : [],
      cart           : [],
      order_detail   : [],
      user_level     : [],
      discountData   : [],
      categoryOptions: [],

      order: {
        qty  : 1,
        noted: null,
      },

      options: [
        {
          value: '',
          text : '',
        },
      ],

      quantities: [
        { value: 1, text: '1' },
        { value: 2, text: '2' },
        { value: 3, text: '3' },
      ],
      params: {
        page         : 1,
        limit        : 9,
        total_objects: null,
      },
    }
  },

  // COMPUTED PROPERTY
  computed: {
    subTotal () {
      return this.cart.reduce((total, item) => {
        return total + item.price * item.qty
      }, 0)
    },
    ppnPrice () {
      const ppn = this.ppn
      return ((this.subTotal - this.discount) * ppn) / 100
    },
    discount () {
      return (this.subTotal * this.privyDiscount) / 100
    },
    total () {
      return this.subTotal + this.ppnPrice - this.discount
    },
    user () {
      return this.$store.get('session/user')
    },
    checkRole () {
      const user = this.user
      if (user.role === 'User') return '3'

      return '4'
    },
    isActive () {
      const total = this.params.total_objects
      const limit = this.params.limit

      if (total <= limit) return false
      return true
    },
    isPortion () {
      if (this.user.karyawan) {
        this.loadPortion()
        return true
      }
      return false
    },
    hasData () {
      if (this.indexList > 0) return true
      return false
    },
  },

  watch: {
    'params.page': 'load',
    search (val) {
      if (val === '') this.load()
    },
  },

  mounted () {
    const user = this.user
    if (user.role === 'User') this.params.limit = 12

    this.load()
    this.loadDiscount()
  },

  methods: {
    showCart () {
      this.show = !this.show
    },
    getIndex () {
      return _.findIndex(this.cart, {
        id   : this.item_id,
        noted: this.order.noted,
      })
    },

    getItem (items) {
      this.item_id        = items.id
      this.item_image     = items.image
      this.item_name      = items.name
      this.item_price     = items.price
      this.str_item_price = new Intl.NumberFormat('id', {
        style   : 'currency',
        currency: 'IDR',
      }).format(items.price)
    },

    getOrders () {
      const user = this.user
      return {
        user_id         : user.user_id,
        total_qty       : this.countQuantityOrder(),
        subtotal        : this.subTotal + this.ppnPrice,
        discount        : this.discount,
        discount_percent: this.privyDiscount,
        ppn             : this.ppnPrice,
        total           : this.total,
        order_detail    : this.order_detail,
      }
    },

    countQuantityOrder () {
      return this.order_detail.reduce((total, item) => {
        return total + item.qty
      }, 0)
    },

    clear () {
      this.reset()
      this.load()
    },

    load () {
      const params = {
        name    : this.search,
        page    : this.params.page,
        per_page: this.params.limit,
      }
      this.$axios
        .get('menu', { params: params })
        .then((response) => {
          this.items                = response.data.data
          this.params.total_objects = response.data.meta.pagination.total
        })
        .catch((err) => {
          console.error(err)
        })
    },

    loadCategory () {
      this.$axios
        .get('categories')
        .then((response) => {
          this.categoryOptions  = _.map(response.data.data, (item) => {
            return {
              value: item.id,
              text : item.name,
            }
          })
          this.selectedCategory = this.categoryOptions[0].value
        })
        .catch((err) => {
          console.error(err)
        })
    },

    searching () {
      const params = {
        name    : this.search,
        per_page: this.params.limit,
      }
      this.$axios
        .get('menu', { params: params })
        .then((response) => {
          this.items                = response.data.data
          this.params.total_objects = response.data.meta.pagination.total
          this.params.page          = 1
        })
        .catch((err) => {
          console.error(err)
        })
    },

    loadPortion () {
      const user = this.user
      this.$axios
        .get(`portion/${user.user_id}`)
        .then((response) => {
          this.user_level = response.data.data
        })
        .catch((err) => {
          console.error(err)
        })
    },

    loadDiscount () {
      this.$axios
        .get('user_type-discount')
        .then((response) => {
          this.privyDiscount = response.data.value
          this.discountData  = response.data
        })
        .catch((err) => {
          console.error(err)
        })
    },

    showItems (items) {
      this.getItem(items)
      this.addModal = true
    },

    setItem () {
      this.cart.push({
        id       : this.item_id,
        code     : this.itemProduct,
        image    : this.item_image,
        name     : this.item_name,
        qty      : parseInt(this.order.qty),
        price    : parseInt(this.item_price),
        str_price: this.str_item_price,
        note     : this.order.noted,
      })
      this.order_detail.push({
        product_id: this.item_id,
        qty       : parseInt(this.order.qty),
        note      : this.order.noted,
      })
    },

    addCart () {
      const index = this.getIndex()
      if (index !== -1) {
        this.cart[index].qty         += parseInt(this.order.qty)
        this.order_detail[index].qty += parseInt(this.order.qty)
      } else {
        this.setItem()
        this.indexList++
      }
      // this.reset()
      this.order.qty   = 1
      this.order.noted = null
      this.addModal    = false
      this.filter      = null
    },

    cancelCart () {
      this.addModal = false
    },

    makeOrders () {
      const data = this.getOrders()
      if (data.total_qty === 0) {
        this.error        = true
        this.errorMessage = 'Please fill your order'
      } else {
        this.loading = true
        this.$overlay(true)

        this.$axios
          .post('order', data)
          .then((response) => {
            this.order_id          = response.data.order.original.data.id
            this.orderSuccessModal = true
            this.error             = false
          })
          .catch((err) => {
            this.$notify({
              type : 'error',
              title: 'Order Failed',
              text : err.response.data.data.message,
            })
            this.error   = true
            this.loading = false
            this.process = false
          })
          .then(() => {
            this.loading = false
            this.$overlay(false)
          })
      }
    },

    editOrders (cart, index) {
      this.editModal     = true
      this.$axios
        .get(`product/${cart.id}`)
        .then((response) => {
          this.options = response.data.data.type
        })
        .catch((err) => {
          console.error(err)
        })
      this.index         = index
      this.getItem(cart)
      this.item_type     = cart.type
      this.item_quantity = cart.qty
      this.item_noted    = cart.note
    },

    updateOrders () {
      this.editModal = false

      this.cart.push({
        id       : this.item_id,
        image    : this.item_image,
        name     : this.item_name,
        type     : this.item_type,
        qty      : this.item_quantity,
        price    : this.item_price,
        str_price: this.str_item_price,
        note     : this.item_noted,
      })
      this.order_detail.push({
        product_id: this.item_id,
        qty       : parseInt(this.item_quantity),
        note      : this.item_noted,
        type      : this.item_type,
      })
      this.cart.splice(this.index, 1)
      this.order_detail.splice(this.index, 1)
    },

    cancelUpdate () {
      this.editModal = false
    },

    deleteOrders (index) {
      this.deleteModal = true
      this.index       = index
    },

    remove (index) {
      this.$swal({
        title            : 'Are you sure?',
        text             : 'You will delete this data',
        type             : 'warning',
        showCancelButton : true,
        confirmButtonText: 'Yes, do it!',
      }).then((result) => {
        if (!result.value) return
        this.cart.splice(this.index, 1)
        this.order_detail.splice(this.index, 1)
        this.deleteModal = false
        this.indexList--
      })
    },

    destroyOrders () {
      this.cart.splice(this.index, 1)
      this.order_detail.splice(this.index, 1)
      this.deleteModal = false
      this.indexList--
    },

    reset () {
      this.search      = null
      this.order.qty   = 1
      this.order.noted = null
    },

    close () {
      this.user_level.remaining_free_portion -= this.countQuantityOrder()
      this.orderSuccessModal                 = false
      this.process                           = true
      this.cart                              = []
      this.order_detail                      = []
      this.indexList                         = 0
    },
  },
}
</script>
