html {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-spacing: 1px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f5f5f5;
  color: #4d4d4d;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.button--green {
  border: 1px solid #3b8070;
  border-radius: 4px;
  color: #3b8070;
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
}

.button--green:hover {
  background-color: #3b8070;
  color: #fff;
}

.button--grey {
  border: 1px solid #35495e;
  border-radius: 4px;
  color: #35495e;
  display: inline-block;
  margin-left: 15px;
  padding: 10px 30px;
  text-decoration: none;
}

.button--grey:hover {
  background-color: #35495e;
  color: #fff;
}

.col-form-label {
  font-size: 0.7rem;
  font-weight: 600;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}


::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  box-shadow: inset 0 0 5px $grey;
}

::-webkit-scrollbar-thumb {
  background-color: fade-out($dark-blue, 0.5);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: fade-out($dark-blue, 0.8);
}
