.content {
  padding-right: 380px;
  width: 100%;

  &-body {
    padding: 20px 30px;
  }

  &-full {
    padding-right: 0;
  }

  &-panel {
    padding-left: 250px;
  }

  &-title {
    margin-bottom: 1em;

    h2 {
      border-bottom: 1px solid $dark-blue;
      display: inline-block;
      font-size: 0.9em;
      font-weight: 500;
      letter-spacing: 0.03em;
      margin-bottom: 0;
      padding-bottom: 0.5em;
    }
  }

  .icon-basket-loaded.icons-layout.icons-hover.any {
    position: relative;

    &::after {
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: dimmer;
      background: #f45;
      border-radius: 100%;
      content: '';
      height: 11px;
      left: 2px;
      position: absolute;
      top: 5px;
      width: 11px;

    }
  }

}

@keyframes dimmer {
  from {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.6;
    transform: scale(0.6);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 600px) {
  .content {
    padding-right: 0;
  }

  .content {
    &-panel {
      padding-left: 0;
    }
  }
}
