.navbar {
  &-blue {
    background-color: #0975c1;
  }

  &-brand {
    background-color: #151516;
    color: $white;
    margin: 0;
    padding: 0;

    h3 {
      margin: 0;
      padding: 0.6rem;
    }
  }
}

.nav {
  &-link {
    color: $white;
    font-size: 14px;
    font-weight: 400;
    padding: 1rem;

    &:hover {
      background-color: #155888;
      color: $white;
    }

    &.active {
      background-color: fade-out($black, 0.8);
    }

    &:hover {
      background-color: #155888;
      transition: all 0.2s ease-out;
    }
  }

  .nav-item {
    i {
      font-weight: 600;
      padding-right: 40px;
    }

    .active {
      background-color: #155888;
      color: $white;
    }
  }
}
