.orders {
  border: 0;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  }

  .card-body {
    height: 12rem;
    padding: 0;
    position: relative;

    img {
      border-radius: 5px;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    .badge {
      &-default {
        background-color: #f5f5f5;
        border-radius: 10px;
        bottom: 0.5rem;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
        font-weight: 400;
        left: 50%;
        padding: 5px 12px;
        position: absolute;
        // right: 1rem;
        transform: translateX(-50%);
        z-index: 1;
      }
    }
  }
}

.list {
  border: 0;
  border-radius: 5px;

  .card-body {
    height: 6rem;
    padding: 0;
    position: relative;

    img {
      border-radius: 5px;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    button {
      margin-left: 10px;
      padding-left: 10px;
    }
  }
}

.search {
  .form {
    &-control {
      border: 0;
      font-size: 14px;
      height: 40px;

      &:focus {
        border-radius: 5px;
        box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.15);
      }
    }
  }

  .input {
    &-group {
      &-text {
        background-color: $white;
        border: 0;
        padding: 0.375rem 0.8rem;
      }

      &-prepend {
        margin-right: -5px;
        z-index: 99;
      }
    }
  }
}
