.container {
  background-image: url('https://images.unsplash.com/photo-1536319229365-83318cdc7b83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  max-width: 100%;
  width: 100%;
}

.page {
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  padding: 2.5rem 1.5rem;
  text-align: left;
  width: 26rem;

  &-header {
    border-bottom: 1px solid fade-out(#4d4d4d, 0.5);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    text-align: center;

    h4 {
      font-size: 1.5rem;
      margin-bottom: 0;

      b {
        color: #c0392b;
      }
    }

    span {
      font-size: 12px;
      letter-spacing: 0.02em;
      line-height: 22px;
    }
  }

  &-body {
    .col-form-label {
      font-size: 0.7rem;
      font-weight: 600;
      overflow-y: auto;
      padding-left: 1rem;
    }

    .form {
      &-control {
        border-radius: 25px;
        font-size: 0.8rem;
        height: 40px;

        &:focus {
          border: 1px solid #4d4d4d;
          box-shadow: none;
        }
      }
    }
  }
}
