.settings {
  border: 0;
  border-radius: 0;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  }

  .card-body {
    height: 12rem;
    padding: 0;
    position: relative;
  }


  &-content {
    i {
      color: $white;
      font-size: 3rem;
    }

    span {
      color: $white;
      font-size: 2rem;
    }
  }
}
