.sidebar {
  background-color: $white;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 380px;
  z-index: 99;

  &-header {
    background-color: #f5f5f5;
    color: #4d4d4d;
    padding: 18px 30px;

    &-portion {
      background-color: #0873be;
      border-radius: 50%;
      color: #fff;

      font-size: 0.8rem;
      height: 22px;
      margin: 0;
      text-align: center;
      width: 22px;

      p {
        padding-top: 0.1rem;
      }
    }

    h4 {
      font-size: 14px;
      letter-spacing: 0.5px;
      margin-bottom: 0;
    }

    h6 {
      font-size: 12px;
      letter-spacing: 0.5px;
      margin-bottom: 0;
    }
  }

  &-content {
    max-width: 380px;
    padding: 0 20px;
    position: fixed;
    width: 100%;

    .table {
      width: 100%;

      tbody {
        >tr {
          >td {
            border: 0;
            padding: 12px 5px;

            h6 {
              font-size: 12px;
              font-weight: 600;
              margin-bottom: 5px;
            }

            span {
              display: block;
              font-size: 11px;

              &.noted {
                color: fade-out(#4d4d4d, 0.1);
                font-weight: 300;
              }
            }

            &:first-child {
              width: 40%;
            }

            &:nth-child(4) {
              text-align: right;
              width: 5%;
            }

            &:last-child {
              text-align: right;
              width: 5%;
            }
          }
        }
      }
    }

    .alert {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  &-footer {
    background-color: $white;
    bottom: 0;
    display: block;
    max-width: 380px;
    position: fixed;
    width: 100%;

    .footer-button {
      background-color: #4d4d4d;
      bottom: 0;
      max-width: 380px;
      padding: 15px 30px;
      width: 100%;
    }
  }

  &-menu {
    background-color: $white;
    box-shadow: 0 3px 10px fade-out($black, 0.9);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 250px;

    &__logo {
      border-bottom: 1px solid $dark-blue;
      color: $dark-blue;
      padding: 0.9em 2em;
      text-align: center;

      h3 {
        font-size: 1.2em;
        margin-bottom: 0;
      }
    }

    .nav {
      &-link {
        color: $dark-blue;
        font-weight: 400;
        letter-spacing: 0.02em;
        padding-bottom: 1em;
        padding-left: 2em;
        padding-top: 1em;

        &.active {
          background-color: $dark-blue;
          color: $white;
        }

        &:hover {
          background-color: $dark-blue;
          color: $white;
          transition: all 0.2s ease-in-out;
        }
      }

      &-item {
        i {
          padding-right: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
    width: 100%;

    &-content {
      width: 100%;
    }

    &-footer {
      width: 100%;
    }

    &-header {
      &-portion {
        margin-top: 10px;
      }
    }
  }

  .sidebar {
    &-menu {
      display: none;
    }
  }
}
