.table {
  &-hover {
    tbody {
      tr {
        border: 1px solid transparent;

        &.active {
          background-color: #4d4d4d;
        }

        &:hover {
          background-color: $white;
          border: 1px solid rgba(9, 117, 193, 0.2);
          box-shadow: 0 8px 19px -5px rgba(9, 117, 193, 0.2);
          transition: box-shadow 0.2s;

          td {
            border-radius: 3px;
            border-top: 1px solid rgba(9, 117, 193, 0.2);
          }
        }

        td {
          border-top: 1px solid rgba(9, 117, 193, 0.2);
          color: #4d4d4d;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.02em;
          padding: 20px 10px;
        }
      }
    }

    thead {
      th {
        border-bottom: 0;
        color: $font-color-black;
        font-size: 0.8em;
        font-weight: 600;
      }
    }
  }

  &-orders {
    tbody {
      tr {
        td {
          font-size: 0.75rem;
          font-weight: 600;
          letter-spacing: 0.03rem;
          padding: 12px 30px;

          &:last-child {
            text-align: right;
          }
        }

        &:first-child {
          td {
            padding-bottom: 0.5rem;
          }
        }

        &:nth-child(2) {
          td {
            border-top: 0;
            padding-top: 0;
          }
        }
      }
    }
  }

  &-wrapper {
    &-y {
      // display: block;
      height: 100%;
      max-height: 350px;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      overflow-y: auto;
      padding-bottom: 50px;
    }
  }

  .hidden_header {
    display: none;
  }
}
