.alert {
  &-proccess {
    background-color: #bf5408;
    color: $white;
    font-size: 0.8rem;
    padding: 0.6rem 1.25rem;
  }

  &-complete {
    background-color: #35e2a6;
    color: $white;
    font-size: 0.8rem;
    padding: 0.6rem 1.25rem;
  }

  &-danger {
    font-size: 0.8rem;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
  }

  &-type {
    color: rgb(214, 19, 19);
    font-size: 5px;
  }
}
