.btn {
  border-radius: 25px;
  color: $white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;

  &-primary {
    &-gradient {
      background-color: #4bb3fc;
      background-image: linear-gradient(to left, #4bb3fc, #0873be);
      border: 1px solid #4bb3fc;
    }
  }

  &-success {
    &-gradient {
      background-color: #39efae;
      background-image: linear-gradient(to left, #39efae, #13d992);
      border: 1px solid #13d992;
    }
  }

  &-danger {
    &-gradient {
      background-color: #ef3939;
      background-image: linear-gradient(to left, #ef3939, #d91313);
      border: 1px solid #d91313;
    }
  }

  &-lg {
    padding: 10px 30px;
  }

  &-sm-gradient {
    font-size: 12px;
    padding: 6px 40px;
  }

  &-default {
    background-color: #fff;
    color: #4d4d4d;
  }

  &-filter {
    background-color: #fff;
    border-radius: 0;
    color: #4d4d4d;
  }

  &-stacked {
    background-color: #fff;
    border: 0;
    border-radius: 0;
    color: #696969;
    font-size: 0.8rem;
    padding: 10px 20px;
    text-align: left;

    &:hover {
      background-color: rgb(231, 231, 231);
      color: #696969;
    }

    i {
      color: #0873be;
      float: right;
      font-weight: 700;
    }
  }

  &-square {
    border-radius: 5px;

    &:hover {
      background-color: transparent;
      color: #0063aa;
    }

    &-transparent {
      background-color: transparent;
      border: 0;
    }
  }

  &-add {
    &-item {
      margin-top: 20px;
      width: 150px;
    }
  }

  &-outline {
    &-primary {
      color: #0063aa;

      &:hover {
        background-color: #0063aa;
        color: $white;
      }
    }
  }
}
