.icons {
  &-layout {
    color: rgb(97, 97, 97);
    font-weight: 800;
    padding: 10px;

    &-search {
      cursor: pointer;
      left: -9px;
      margin-left: -30px;
      position: relative;
      z-index: 99;
    }
  }

  &-hover {
    cursor: pointer;


    &:hover {
      color: #00f;
      cursor: pointer;
    }

    &:active {
      color: #00f;
    }

    &-edit {
      margin-top: 2rem !important;
    }
  }
}
