.loading-overlay {
  align-items: center;
  background-color: rgba(22, 22, 22, 0.5);
  bottom: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 9999;
}

.loading-overlay .loading-item {
  animation: overlayLoading 1s ease-in-out infinite;
  width: 5rem;
}

// #preloader {
//   .loading-overlay {
//     background-color: #e42e2c;
//   }
// }

@keyframes overlayLoading {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(1);
  }
}
