.modal {
  &-header {

    justify-content: center;

    h4 {
      font-size: 1rem;
      font-weight: 600;
    }

    .justify-right {
      margin-left: auto;

      h6 {
        font-size: 1rem;
        font-weight: 600;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__fixed {
    &-body {
      max-height: 300px;
      overflow-y: auto;
    }
  }

  &-logout {
    position: absolute;
  }

  .form {
    &-control {
      font-size: 0.75rem;
    }
  }

  &-orders {
    padding: 20px 30px;

    h6 {
      font-weight: 600;
      margin-bottom: 20px;
    }

    span {
      font-size: 14px;
    }

    p {
      &.small {
        color: fade-out(#4d4d4d, 0.2);
        font-size: 11px;
      }
    }

    .table {
      tbody {
        td {
          border-top: 0;
          font-size: 14px;
          font-weight: 600;
          padding: 6px 20px;
        }
      }
    }

    &__img {
      border-radius: 5px;
      height: 140px;
      margin: 0 auto;
      width: 140px;

      img {
        border-radius: 5px;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    &__meta {
      font-size: 0.75rem;
      font-weight: 600;
      letter-spacing: 0.02rem;
      margin-top: 15px;
    }
  }

  &-product {
    &__img {
      border-radius: 5px;
      height: 140px;
      margin: 0 auto;
      max-height: 140px;
      max-width: 140px;
      width: 140px;

      img {
        border-radius: 5px;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}
