<template>
  <div
    v-if="loading"
    class="loading-overlay"
  >
    <div class="loading-container">
      <div class="spinner" />
    </div>
  </div>
</template>

<script>
export default {
  data    : () => ({ num: 0 }),
  computed: {
    loading: {
      get () {
        return this.$store.get('overlay')
      },
      set (val) {
        return this.$store.set('overlay', val)
      },
    },
  },
  methods: {
    start () {
      this.loading = true
    },
    finish () {
      this.loading = false
    },
    fail () {
      this.loading = false
    },
    increase (num) {
      this.num = num
    },
  },
}
</script>

<style lang="scss">
.loading-overlay {
  align-items: center;
  background-color: rgba(22, 22, 22, 0.5);
  bottom: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 9999;
}

.loading-overlay .loading-item {
  animation: overlayLoading 1s ease-in-out infinite;
  width: 5rem;
}

#preloader .loading-overlay {
  background-color: #e42e2c;
}

@keyframes overlayLoading {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(1);
  }
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #fff;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
</style>
