<template>
  <b-nav
    fill
    class="navbar-blue"
  >
    <template v-for="item in menu">
      <b-nav-item
        :key="item.name"
        :to="item.url"
      >
        <i :class="item.icon" />
        {{ item.title }}
      </b-nav-item>
    </template>
  </b-nav>
</template>
<script>
export default {
  name    : 'Navbar',
  computed: {
    menu () {
      return this.$store.get('session/menu')
    },
  },
}
</script>
