<template>
  <b-modal
    v-model="modal"
    hide-footer
    hide-header
  >
    <div class="d-block text-center modal-orders">
      <h6 class="mt-3">
        Whoa! You've just ordered something
      </h6>

      <span>
        Whoa! You've just ordered something.
        Here is the detail of your order. Take your chill time while we process your order mate!
      </span>
      <table class="table mt-4 mb-4">
        <tbody>
          <tr>
            <td>Order ID</td>
            <td>A23DER21</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>Rp. 0</td>
          </tr>
        </tbody>
      </table>
      <b-btn
        class="mb-3"
        variant="primary-gradient sm-gradient"
        @click="close"
      >
        I'LL WAIT
      </b-btn>

      <p class="small">
        When your food's ready, we'll notify you anyway!
      </p>
    </div>
  </b-modal>
</template>
<script>
export default {
  data () {
    return { modal: false }
  },

  methods: {
    close () {
      this.modal = false
    },
  },
}
</script>
