<template>
  <div class="sidebar-menu">
    <b-nav vertical>
      <div class="sidebar-menu__logo mb-3">
        <h3>
          <b>PRIVY</b> POS
        </h3>
      </div>
      <template v-for="item in menu">
        <b-nav-item
          :key="item.name"
          :to="item.url"
        >
          <i :class="item.icon" />
          {{ item.title }}
        </b-nav-item>
      </template>

      <b-nav-item @click="logout">
        <i class="icon-logout" /> Logout
      </b-nav-item>
    </b-nav>
  </div>
</template>
<script>
export default {
  data () {
    return { menu: [] }
  },
  mounted () {
    this.role()
  },
  methods: {
    getMenu (role) {
      if (role === 'User') {
        return [
          {
            name : 'profile',
            title: 'Profile',
            url  : '/setting/profiles',
            icon : 'icon-user',
          },
        ]
      } else if (role === 'Barista') {
        return [
          {
            name : 'profile',
            title: 'Profile',
            url  : '/setting/profiles',
            icon : 'icon-user',
          },
          {
            name : 'analytic',
            title: 'Analytic',
            url  : '/setting/analytic',
            icon : 'icon-graph',
          },
          {
            name : 'closed',
            title: 'Operations Hour',
            url  : '/setting/operation',
            icon : 'icon-power',
          },
        ]
      } else {
        return [
          {
            name : 'profile',
            title: 'Profile',
            url  : '/setting/profiles',
            icon : 'icon-user',
          },
          {
            name : 'analytic',
            title: 'Analytic',
            url  : '/setting/analytic',
            icon : 'icon-graph',
          },
          {
            name : 'menu',
            title: 'Menu',
            url  : '/setting/categories',
            icon : 'icon-layers',
          },
          {
            name : 'level',
            title: 'User Category',
            url  : '/setting/level',
            icon : 'icon-layers',
          },
          {
            name : 'discount',
            title: 'Discount',
            url  : '/setting/discount',
            icon : 'icon-speedometer',
          },

          {
            name : 'role',
            title: 'User Role Management',
            url  : '/setting/role',
            icon : 'icon-people',
          },
          {
            name : 'user',
            title: 'User Management',
            url  : '/setting/employee',
            icon : 'icon-people',
          },
          {
            name : 'closed',
            title: 'Operations Hour',
            url  : '/setting/operation',
            icon : 'icon-power',
          },
        ]
      }
    },
    role () {
      const role = this.$store.get('session/user/role')
      this.menu  = this.getMenu(role)
    },
    logout () {
      this.$swal({
        title            : 'Are you sure?',
        text             : 'You want to logout from PRIVY-POS APP',
        type             : 'warning',
        showCancelButton : true,
        confirmButtonText: 'Logout',
      }).then((result) => {
        if (!result.value) return

        this.$store.dispatch('session/logout').then(() => {
          this.$router.push('/')
        })
      })
    },
  },
}
</script>
