<template>
  <div class="content-body">
    <sidebar />
    <!-- <b-row>
      <b-col md="4">
        <div v-if="viewSize === '8'">
          <b-row>
            <b-col>
              <b-card no-body class="border-0 mb-1">
                <b-button v-b-toggle.statistic class="btn-stacked">
                  Statistic
                  <i class="icon-arrow-right mt-1"/>
                </b-button>
              </b-card>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-card no-body class="border-0 mb-1">
                <b-btn v-b-toggle.profile class="btn-stacked">
                  Profile
                  <i class="icon-arrow-right mt-1"/>
                </b-btn>
              </b-card>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-card no-body class="border-0 mb-1">
                <b-btn class="btn-stacked">
                  Support
                  <i class="icon-arrow-right mt-1"/>
                </b-btn>
              </b-card>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-card no-body class="border-0 mb-1">
                <b-btn class="btn-stacked" @click="$emit('confirm')">
                  Logout
                  <i class="icon-logout mt-1"/>
                </b-btn>
              </b-card>
            </b-col>
          </b-row>
        </div>
      </b-col>
      <b-col :md="viewSize">
        <b-collapse id="profile" ref="profile" accordion="barista-accordion">
          <b-card>
            <b-row class="border-bottom mb-3">
              <b-col>
                <h5 class="font-weight-bold">Profile</h5>
              </b-col>
            </b-row>
            <b-row>
              <b-col md="3">
                <b-card class="orders">
                  <img
                    src="http://icons-for-free.com/free-icons/png/512/2540590.png"
                    alt="img-profile"
                    class="img-fluid"
                  >
                </b-card>
              </b-col>
              <b-col>
                <h4 class="font-weight-bold">{{ profiles.user_name }}</h4>
                <h6 class="text-secondary">{{ profiles.level }}</h6>
                <b-row>
                  <b-col md="5">
                    <b-form-group label="Username">
                      <h6 class="text-secondary font-weight-bold">{{ profiles.username }}</h6>
                    </b-form-group>
                    <b-form-group label="Email">
                      <h6 class="text-secondary font-weight-bold">{{ profiles.email }}</h6>
                    </b-form-group>
                    <b-form-group label="Role">
                      <h6 class="text-secondary font-weight-bold">{{ profiles.role }}</h6>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
          </b-card>
        </b-collapse>
        <b-collapse id="statistic" ref="statistic" accordion="barista-accordion">
          <b-card>
            <b-row>
              <b-col>
                <h6>
                  <b>POS</b> STATISTIC
                </h6>
              </b-col>
              <b-col>
                <div class="mb-2 text-right">
                  <i
                    v-if="viewSize === '8'"
                    class="icon-size-fullscreen icons-hover text-primary"
                    @click="maximize"
                  />
                  <i
                    v-if="viewSize === '12'"
                    class="icon-size-actual icons-hover text-primary"
                    s
                    @click="minimize"
                  />
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <main-chart :view-size="viewSize"/>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="mt-3">
                <b-button-group>
                  <b-button variant="primary" class="btn-square font-weight-bold" disabled>
                    <i class="icon-cloud-download"/>
                  </b-button>
                  <b-button :href="path" variant="primary" class="btn-square">Export to Excel</b-button>
                </b-button-group>
              </b-col>
            </b-row>
          </b-card>
        </b-collapse>
      </b-col>
    </b-row>-->
    <!-- .CONTENT -->
  </div>
</template>
<script>
import Sidebar from '~/components/Sidebar.vue'
import moment from 'moment'

export default {
  name      : 'Barista',
  components: { Sidebar },
  props     : [
    'profiles',
    'path',
    'role',
  ],
  data () {
    return {
      loaded        : false,
      filterSelected: 'day',
      monthSelected : 'January',
      typeSelected  : 'Hot',
      viewSize      : '8',
      filter        : [
        {
          value: 'day',
          text : 'Day',
        },
        {
          value: 'month',
          text : 'Month',
        },
        {
          value: 'year',
          text : 'Year',
        },
      ],
      typeOptions : ['Hot', 'Cold'],
      chartDataSet: {
        chartLabels  : [],
        chartHotData : [],
        chartColdData: [],
      },
      range: {
        start: moment()
          .startOf('M')
          .toDate(),
        end: moment()
          .endOf('M')
          .toDate(),
      },
      params    : { date: moment().toDate() },
      datePicker: { disabled: { from: moment().toDate() } },
    }
  },

  mounted () {
    // this.$refs.statistic.toggle();
  },

  methods: {
    maximize () {
      this.viewSize = '12'
    },

    minimize () {
      this.viewSize = '8'
    },

    close (ref) {
      if (ref === 'profile') this.$refs.profile.toggle()
      else if (ref === 'statistic') this.$refs.statistic.toggle()
    },
  },
}
</script>
