<template>
  <div class="content-body">
    <sidebar />
    <!-- <b-row>
      <b-col md="4">
        <div>
          <b-row>
            <b-col>
              <b-card
                no-body
                class="border-0 mb-1">
                <b-btn
                  v-b-toggle.profile
                  class="btn-stacked">
                  Profile
                  <i class="icon-arrow-right mt-1"/>
                </b-btn>
              </b-card>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-card
                no-body
                class="border-0 mb-1">
                <b-btn class="btn-stacked">
                  Support
                  <i class="icon-arrow-right mt-1"/>
                </b-btn>
              </b-card>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-card
                no-body
                class="border-0 mb-1">
                <b-btn
                  class="btn-stacked"
                  @click="$emit('confirm')">
                  Logout
                  <i class="icon-logout mt-1"/>
                </b-btn>
              </b-card>
            </b-col>
          </b-row>
        </div>
      </b-col>
      <b-col>
        <b-collapse
          id="profile"
          ref="profile"
          accordion="barista-accordion">
          <b-card class="border-0">
            <b-row>
              <b-col md="3">
                <img
                  src="http://icons-for-free.com/free-icons/png/512/2540590.png"
                  alt="img-profile"
                  class="img-fluid"
                >
              </b-col>
              <b-col>
                <h4 class="font-weight-bold">{{ profiles.user_name }}</h4>
                <h6 class="text-secondary">{{ profiles.level }}</h6>
                <b-row>
                  <b-col md="5">
                    <b-form-group label="Username">
                      <h6 class="text-secondary font-weight-bold">{{ profiles.username }}</h6>
                    </b-form-group>
                    <b-form-group label="Email">
                      <h6 class="text-secondary font-weight-bold">{{ profiles.email }}</h6>
                    </b-form-group>
                    <b-form-group label="Role">
                      <h6 class="text-secondary font-weight-bold">{{ profiles.role }}</h6>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
          </b-card>
        </b-collapse>
      </b-col>
    </b-row>-->
    <!-- .CONTENT -->
  </div>
</template>
<script>
export default {
  name : 'User',
  props: ['profiles'],
  mounted () {
    // this.$refs.profile.toggle()
  },
}
</script>
