<template>
  <div class="content-body">
    <div class="content-title">
      <h2>Analytic Dashboard</h2>
    </div>

    <main-chart @param="getParam" />
    <b-card>
      <b-row>
        <b-col md="3">
          <b-dropdown
            split
            split-variant="outline-primary"
            variant="primary"
            class="btn-square"
            text="Download"
          >
            <b-dropdown-item :href="pathUser">
              User Report
            </b-dropdown-item>
            <b-dropdown-item :href="pathOrder">
              Order Report
            </b-dropdown-item>
            <b-dropdown-item :href="pathProduct">
              Product Report
            </b-dropdown-item>
          </b-dropdown>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
import MainChart from '@/components/charts/MainCharts'
import moment from 'moment'

export default {
  layout    : 'settings',
  name      : 'Dashboard',
  components: { MainChart },
  middleware: ['auth'],
  // created() {
  //   this.getParam()
  // },
  data () {
    return {
      params    : { date: moment().toDate() },
      datePicker: { disabled: { from: moment().toDate() } },
      date      : {
        start_date: '',
        end_date  : '',
      },
      // pathUser: "http://192.168.50.10:8032/api/v1/export-users?start_date=" + this.date.start_date + '?end_date=' + this.date.end_date,
      // pathOrder: "http://192.168.50.10:8032/api/v1/export-order?start_date=" + this.date.start_date + '?end_date=' + this.date.end_date,
      // pathProduct: "http://192.168.50.10:8032/api/v1/export-product?start_date=" + this.date.start_date + '?end_date=' + this.date.end_date
    }
  },
  computed: {
    pathUser () {
      return `${window.location.origin}/api/export-users?start_date=${
        this.date.start_date
      }&end_date=${this.date.end_date}`
    },
    pathOrder () {
      return `${window.location.origin}/api/export-order?start_date=${
        this.date.start_date
      }&end_date=${this.date.end_date}`
    },
    pathProduct () {
      return `${window.location.origin}/api/export-product?start_date=${
        this.date.start_date
      }&end_date=${this.date.end_date}`
    },
  },
  methods: {
    reload () {},
    getParam (value) {
      this.date = value
    },
  },
}
</script>
