<template>
  <div class="content-body">
    <div class="content-title">
      <h2>Menu</h2>
    </div>
    <b-row>
      <b-col>
        <b-card no-body>
          <b-card-body>
            <b-row class="mb-1">
              <b-col
                md="4"
                class="my-1"
              >
                <b-form-group
                  label="Search"
                  class="mb-0"
                >
                  <b-input-group>
                    <b-form-input
                      v-model="search"
                      placeholder="Type to Search"
                      @keydown.enter.native="searching"
                    />
                    <b-button
                      v-if="search"
                      variant="danger"
                      class="btn-square ml-2"
                      @click="clear"
                    >
                      Clear
                    </b-button>
                  </b-input-group>
                </b-form-group>
              </b-col>
              <b-col
                md="2"
                class="my-1"
              >
                <b-form-group
                  label="Per Page"
                  class="mb-0"
                >
                  <b-form-select
                    v-model="params.limit"
                    :options="options"
                  />
                </b-form-group>
              </b-col>
              <b-col class="my-1 text-right">
                <b-btn
                  variant="primary"
                  class="primary-gradient btn-add-item mb-2 btn-square"
                  @click="addCategory"
                >
                  New Category
                </b-btn>
              </b-col>
            </b-row>
            <b-table
              :items="categories"
              :fields="categoriesFields"
              fixed
              hover
            >
              <template
                slot="actions"
                slot-scope="row"
              >
                <b-button
                  size="sm"
                  variant="primary"
                  class="btn-square"
                  @click.stop="updateField(row.item)"
                >
                  <i class="icon-pencil" />
                </b-button>
                <b-button
                  size="sm"
                  variant="danger"
                  class="btn-square"
                  @click.stop="remove(row.item.id)"
                >
                  <i class="icon-trash" />
                </b-button>
                <b-button
                  size="sm"
                  variant="warning"
                  class="btn-square"
                  @click="listProduct(row.item)"
                >
                  {{ row.detailsShowing ? 'Hide' : 'List' }}
                </b-button>
              </template>
              <template
                slot="row-details"
                slot-scope="row"
              >
                <b-card>
                  <p>
                    <b>{{ row.item.name }}</b>
                  </p>
                  <product
                    :data="row.item"
                    access="category"
                  />
                </b-card>
              </template>
            </b-table>
            <b-row>
              <b-col class="my-1">
                <p class="text-secondary text-right">
                  <small>Showing {{ startCount }} to {{ endCount }} of {{ params.total_objects }} Entries</small>
                </p>
                <b-pagination
                  v-if="isActive"
                  v-model="params.page"
                  :total-rows="params.total_objects"
                  :per-page="params.limit"
                  align="right"
                />
              </b-col>
            </b-row>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>

    <!-- MODAL -->
    <b-modal
      v-model="modal"
      centered
      size="sm"
      no-close-on-backdrop
    >
      <template slot="modal-header">
        <h4>{{ title }}</h4>
      </template>
      <div class="page-body">
        <b-form-group
          label="Category Name"
          horizontal
        >
          <b-form-input v-model="category.name" />
        </b-form-group>
      </div>
      <template slot="modal-footer">
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="default btn-sm btn-block"
            @click="cancel"
          >
            CANCEL
          </b-button>
        </b-col>
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="primary-gradient btn-sm btn-block"
            @click="submit()"
          >
            SUBMIT
          </b-button>
        </b-col>
      </template>
    </b-modal>
    <!-- END-MODAL -->
  </div>
</template>

<script>
import Product from '~/components/menu/Product.vue'
import _ from 'lodash'

export default {
  layout    : 'settings',
  name      : 'Categories',
  components: { Product },
  middleware: ['auth', 'admin-auth'],
  data () {
    return {
      modal: false,

      index           : null,
      title           : '',
      categories      : [],
      categoriesFields: ['name', 'actions'],
      category        : {
        id  : '',
        name: '',
      },
      params: {
        page         : 1,
        limit        : 10,
        total_objects: 0,
      },
      count : { start: 1 },
      search: null,
    }
  },

  computed: {
    isActive () {
      const total = this.params.total_objects
      const limit = this.params.limit

      if (total <= limit) return false
      return true
    },
    startCount () {
      const page  = this.params.page
      const limit = this.params.limit
      const total = this.params.total_objects

      if (page === 1 && total !== 0) return this.count.start
      else if (total === 0) return total
      return limit * (page - 1) + 1
    },
    endCount () {
      const page  = this.params.page
      const limit = this.params.limit
      const end   = limit * page
      const start = limit * (page - 1) + 1
      if (page === 1) {
        if (end >= this.params.total_objects) return this.params.total_objects
        return this.params.limit
      } else if (end >= this.params.total_objects)
        return this.params.total_objects
      return start + limit - 1
    },
    options () {
      return this.$store.get('session/options')
    },
  },

  watch: {
    'params.limit': 'load',
    'params.page' : 'load',
    search (val) {
      if (val === '') this.load()
    },
  },

  mounted () {
    this.load()
  },

  methods: {
    pageCheck () {
      const total = this.params.total_objects
      const limit = this.params.limit
      if (total < limit) this.params.page = 1
    },
    clear () {
      this.empty()
      this.load()
    },
    load () {
      this.pageCheck()
      this.$overlay(true)
      const params = {
        name    : this.search,
        page    : this.params.page,
        per_page: this.params.limit,
      }
      this.$axios
        .get('categories', { params: params })
        .then((response) => {
          this.categories           = _.map(response.data.data, (item) => {
            return {
              id          : item.id,
              name        : item.name,
              _showDetails: false,
            }
          })
          this.params.total_objects = response.data.meta.pagination.total
        })
        .catch((err) => {
          console.error(err)
        })
        .then(() => {
          this.$overlay(false)
        })
    },

    searching () {
      this.$overlay(true)
      const params = {
        name    : this.search,
        per_page: this.params.limit,
      }
      this.$axios
        .get('categories', { params: params })
        .then((response) => {
          this.categories           = _.map(response.data.data, (item) => {
            return {
              id          : item.id,
              name        : item.name,
              _showDetails: false,
            }
          })
          this.params.total_objects = response.data.meta.pagination.total
          this.params.page          = 1
        })
        .catch((err) => {
          console.error(err)
        })
        .then(() => {
          this.$overlay(false)
        })
    },

    listProduct (item) {
      if (this.index !== null) {
        const indexItem = _.findIndex(this.categories, { id: item.id })
        if (this.index === indexItem) item._showDetails = !item._showDetails
        else {
          const details = this.categories[this.index]._showDetails
          if (details) this.categories[this.index]._showDetails = false

          item._showDetails = !item._showDetails
          this.index        = indexItem
        }
      } else {
        this.index        = _.findIndex(this.categories, { id: item.id })
        item._showDetails = !item._showDetails
      }
    },

    cancel () {
      this.modal = false
      this.empty()
    },

    empty () {
      this.search   = null
      this.category = {
        id  : '',
        name: '',
      }
    },

    addCategory () {
      this.modal = true
      this.title = 'Create New Category'
      this.empty()
    },

    submit () {
      if (this.category.id !== '') this.update()
      else this.create()
    },

    create () {
      const name = this.category.name
      this.$overlay(true)
      this.$axios
        .post('categories', { name })
        .then((response) => {
          this.load()
          this.modal = false
          this.$notify({
            type : 'success',
            title: 'Create Success',
            text : 'You have successfully create new Category',
          })
        })
        .catch((err) => {
          this.$notify({
            type : 'error',
            title: 'Create Failed',
            text : err.response.data.error.message,
          })
        })
        .then(() => {
          this.$overlay(false)
        })
    },

    updateField (item) {
      this.modal         = true
      this.title         = 'Update Category'
      this.category.id   = item.id
      this.category.name = item.name
    },

    update () {
      const name = this.category.name
      this.$axios
        .post(`update-categories/${this.category.id}`, { name })
        .then((response) => {
          this.load()
          this.modal = false
          this.$notify({
            type : 'success',
            title: 'Update Success',
            text : response.data.data.message,
          })
        })
        .catch((err) => {
          this.$notify({
            type : 'error',
            title: 'Update Failed',
            text : err.response.data.error.message,
          })
        })
    },

    remove (id) {
      this.$swal({
        title            : 'Are you sure?',
        text             : 'Removing this category will remove all products related',
        type             : 'warning',
        showCancelButton : true,
        confirmButtonText: 'Yes, do it!',
      }).then((result) => {
        if (!result.value) return

        this.$axios
          .delete(`categories/${id}`)
          .then((response) => {
            this.load()
            this.$notify({
              type : 'success',
              title: 'Delete Success',
              text : response.data.data.message,
            })
          })
          .catch(() => {
            this.$notify({
              type : 'error',
              title: 'Delete Failed',
              text : 'Delete Categories Failed',
            })
          })
      })
    },
  },
}
</script>
