<template>
  <section class="wrapper">
    <div class="content content-full">
      <navbar />
      <!-- ADMIN ROLE -->
      <div class="content-body">
        <b-row class="mb-3">
          <b-col md="2">
            <datepicker
              v-model="range.start"
              placeholder="Start Date"
            />
          </b-col>
          <b-col md="2">
            <datepicker
              v-model="range.end"
              placeholder="End Date"
            />
          </b-col>
          <b-col
            class="filter-item"
            md="2"
          >
            <b-button
              variant="btn btn-success-gradient btn-md btn-block"
              @click="load"
            >
              Apply
            </b-button>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="12">
            <main-chart
              v-if="loaded"
              v-bind="chartDataSet"
            />
          </b-col>
        </b-row>
      </div>
      <!-- .CONTENT-BODY -->
    </div>
    <!-- ADMIN ROLE -->
    <div class="content-body">
      <b-row>
        <b-col md="4">
          <div>
            <b-row>
              <b-col>
                <b-card no-body>
                  <b-btn
                    v-b-toggle.profile
                    class="btn-stacked"
                  >
                    Profile
                  </b-btn>
                </b-card>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-card no-body>
                  <b-btn class="btn-stacked">
                    Support
                  </b-btn>
                </b-card>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-card no-body>
                  <b-btn
                    class="btn-stacked"
                    @click="logout"
                  >
                    Logout
                  </b-btn>
                </b-card>
              </b-col>
            </b-row>
          </div>
        </b-col>
        <b-col>
          <b-collapse id="profile">
            <b-card>
              <b-row>
                <b-col md="3">
                  <b-card class="orders">
                    <img
                      src="https://get.pxhere.com/photo/man-person-people-hair-boy-male-portrait-model-spring-macro-blue-hairstyle-smile-beard-photograph-portrait-photography-facial-hair-946516.jpg"
                      alt="img-profile"
                      class="img-fluid"
                    >
                  </b-card>
                </b-col>
                <b-col>
                  <h4 class="font-weight-bold">
                    Jeremy Rose
                  </h4>
                  <h6 class="text-secondary">
                    Bronze
                  </h6>
                  <b-row>
                    <b-col md="5">
                      <b-form-group label="Username">
                        <b-form-input value="JR153" />
                      </b-form-group>
                      <b-form-group label="Email">
                        <b-form-input value="jeremy@rocketmail.com" />
                      </b-form-group>
                      <b-form-group label="Telepon">
                        <b-form-input value="08251432xxx" />
                      </b-form-group>
                    </b-col>
                  </b-row>
                </b-col>
              </b-row>
            </b-card>
          </b-collapse>
        </b-col>
      </b-row>
      <!-- .CONTENT -->
    </div>
  </section>
</template>

<script>
import MainChart from '@/components/chart/MainChart'
import Navbar from '~/components/Navbar.vue'

import moment from 'moment'
// import _ from "lodash";

export default {
  components: { Navbar, MainChart },
  middleware: 'auth',
  data () {
    return {
      admin       : true,
      barista     : false,
      user        : false,
      loaded      : false,
      chartDataSet: {
        chartLabels  : [],
        chartHotData : [],
        chartColdData: [],
      },
      range: {
        start: moment()
          .startOf('M')
          .toDate(),
        end: moment()
          .endOf('M')
          .toDate(),
      },
    }
  },

  mounted () {
    this.load()
  },

  methods: {
    load () {
      const params = {
        start_date: moment(this.range.start).format('YYYY-MM-DD'),
        end_date  : moment(this.range.end).format('YYYY-MM-DD'),
      }

      this.$axios
        .get('analytic', { params: params })
        .then((response) => {
          this.chartDataSet.chartLabels   = response.data.map((data) => data.name)
          this.chartDataSet.chartHotData  = response.data.map((data) => data.hot)
          this.chartDataSet.chartColdData = response.data.map(
            (data) => data.cold
          )
          this.loaded                     = true
        })
        .catch((err) => {
          console.error(err)
        })
    },

    logout () {
      this.$store.dispatch('session/logout').then(() => {
        this.$router.push('/')
      })
    },
  },
}
</script>
