<template>
  <div class="content-body">
    <div class="content-title">
      <h2>Discount Management</h2>
    </div>
    <b-row>
      <b-col>
        <b-card no-body>
          <b-card-body>
            <b-row class="mb-1">
              <b-col
                md="4"
                class="my-1"
              >
                <b-form-group
                  label="Search"
                  class="mb-0"
                >
                  <b-input-group>
                    <b-form-input
                      v-model="search"
                      placeholder="Type to Search"
                      @keydown.enter.native="searching"
                    />
                    <b-button
                      v-if="search"
                      variant="danger"
                      class="btn-square ml-2"
                      @click="clear"
                    >
                      Clear
                    </b-button>
                  </b-input-group>
                </b-form-group>
              </b-col>
              <b-col
                md="2"
                class="my-1"
              >
                <b-form-group
                  label="Per Page"
                  class="mb-0"
                >
                  <b-form-select
                    v-model="params.limit"
                    :options="options"
                  />
                </b-form-group>
              </b-col>
              <b-col class="my-1 text-right">
                <b-btn
                  variant="primary"
                  class="btn-add-item mb-3 btn-square"
                  @click="addDiscount"
                >
                  New Discount
                </b-btn>
              </b-col>
            </b-row>
            <b-table
              :items="discounts"
              :fields="groupFields"
              :busy="isBusy"
              fixed
              hover
            >
              <template
                slot="status"
                slot-scope="row"
              >
                <span v-if="row.item.status === true">Active</span>
                <span v-else>Not-Active</span>
              </template>
              <template
                slot="actions"
                slot-scope="row"
              >
                <b-button
                  size="sm"
                  variant="primary"
                  class="btn-square"
                  @click.stop="updateField(row.item)"
                >
                  <i class="icon-pencil" />
                </b-button>
                <b-button
                  v-if="row.item.id !== 1"
                  size="sm"
                  variant="danger"
                  class="btn-square"
                  @click="remove(row.item.id)"
                >
                  <i class="icon-trash" />
                </b-button>
              </template>
              <template
                slot="active"
                slot-scope="row"
              >
                <no-ssr v-if="row.item.id !== 1">
                  <toggle-button
                    v-model="row.item.status"
                    :width="100"
                    :sync="true"
                    :labels="{checked: 'Active', unchecked: 'Inactive'}"
                    color="#2ecc71"
                    @change="activateDiscount(row.item)"
                  />
                </no-ssr>
                <span v-else>VIP discount for employee</span>
              </template>
            </b-table>
            <b-row>
              <b-col class="my-1">
                <p class="text-secondary text-right">
                  <small>Showing {{ startCount }} to {{ endCount }} of {{ params.total_objects }} Entries</small>
                </p>
                <b-pagination
                  v-if="isActive"
                  v-model="params.page"
                  :total-rows="params.total_objects"
                  :per-page="params.limit"
                  align="right"
                />
              </b-col>
            </b-row>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>

    <b-modal
      v-model="modal"
      size="sm"
      centered
      no-close-on-backdrop
    >
      <template slot="modal-header">
        <h4>{{ title }}</h4>
      </template>
      <div class="page-body">
        <b-form>
          <b-form-group
            label="Discount Name"
            horizontal
          >
            <b-form-input v-model="form.name" />
          </b-form-group>
          <b-form-group
            label="Discount Value"
            horizontal
          >
            <b-input-group>
              <b-form-input
                v-model="form.value"
                type="number"
                min="0.00"
                class="text-center"
              />
            </b-input-group>
          </b-form-group>
        </b-form>
      </div>
      <template slot="modal-footer">
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="default btn-sm btn-block"
            @click="cancel"
          >
            CANCEL
          </b-button>
        </b-col>
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="primary-gradient btn-sm btn-block"
            @click="submit()"
          >
            SUBMIT
          </b-button>
        </b-col>
      </template>
    </b-modal>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  name      : 'Discount',
  layout    : 'settings',
  middleware: ['auth', 'admin-auth'],
  data () {
    return {
      isBusy: false,
      modal : false,
      form  : {
        id    : '',
        name  : '',
        value : '',
        status: null,
      },
      search   : '',
      title    : '',
      discounts: [],
      level    : {
        id   : null,
        name : null,
        limit: 0,
      },
      levels     : [],
      groupFields: [
        {
          key  : 'name',
          label: 'Name',
        },
        {
          key  : 'value',
          label: 'Discount Value',
        },
        {
          key  : 'active',
          label: 'Activate Status',
        },
        {
          key  : 'actions',
          label: 'Action',
        },
      ],
      params: {
        page         : 1,
        limit        : 10,
        total_objects: 0,
      },
      count: { start: 1 },
    }
  },

  computed: {
    isActive () {
      const total = this.params.total_objects
      const limit = this.params.limit

      if (total <= limit) return false
      return true
    },
    startCount () {
      const page  = this.params.page
      const limit = this.params.limit
      const total = this.params.total_objects

      if (page === 1 && total !== 0) return this.count.start
      else if (total === 0) return total
      return limit * (page - 1) + 1
    },
    endCount () {
      const page  = this.params.page
      const limit = this.params.limit
      const end   = limit * page
      const start = limit * (page - 1) + 1
      if (page === 1) {
        if (end >= this.params.total_objects) return this.params.total_objects
        return this.params.limit
      } else if (end >= this.params.total_objects)
        return this.params.total_objects
      return start + limit - 1
    },
    options () {
      return this.$store.get('session/options')
    },
  },

  watch: {
    'params.limit': 'load',
    'params.page' : 'load',
    search (val) {
      if (val === '') this.load()
    },
  },

  mounted () {
    this.load()
  },

  methods: {
    findActive () {
      this.isBusy = false
      this.discounts.forEach((element) => {
        if (element.status === true) this.isBusy = true
      })
    },

    clear () {
      this.search = ''
      this.load()
    },

    pageCheck () {
      const total = this.params.total_objects
      const limit = this.params.limit
      if (total < limit) this.params.page = 1
    },

    load () {
      this.isBusy = true
      this.pageCheck()

      const params = {
        name    : this.search,
        page    : this.params.page,
        per_page: this.params.limit,
      }

      this.$axios
        .get('discount', { params: params })
        .then((response) => {
          this.discounts            = _.map(response.data.data, (item) => {
            return {
              id    : item.id,
              name  : item.name,
              value : item.value,
              status: item.status === 'active',
            }
          })
          this.params.total_objects = response.data.meta.pagination.total
        })
        .catch((err) => {
          console.error(err)
        })
        .then(() => {
          this.findActive()
          this.isBusy = false
        })
    },

    searching () {
      const params = {
        name    : this.search,
        per_page: this.params.limit,
      }

      this.$axios
        .get('discount', { params: params })
        .then((response) => {
          this.discounts            = _.map(response.data.data, (item) => {
            return {
              id    : item.id,
              name  : item.name,
              value : item.value,
              status: item.status === 'active',
            }
          })
          this.params.total_objects = response.data.meta.pagination.total
          this.params.page          = 1
        })
        .catch((err) => {
          console.error(err)
        })
        .then(() => {
          this.findActive()
          this.isBusy = false
        })
    },

    empty () {
      this.form = {
        id    : '',
        name  : '',
        value : '',
        status: null,
      }
    },

    addDiscount () {
      this.modal = true
      this.title = 'Add New Discount'
      this.empty()
    },

    submit () {
      this.$overlay(true)
      if (this.form.id !== '') this.update()
      else this.create()
    },

    create () {
      this.$axios
        .post(`discount`, this.form)
        .then((response) => {
          this.load()
          this.modal = false
          this.$notify({
            type : 'success',
            title: 'Create Success',
            text : 'You have successfully create new Discount',
          })
        })
        .catch((err) => {
          this.$notify({
            type : 'error',
            title: 'Created Dicount Failed',
            text : err.response.data.error.message,
          })
        })
        .then(() => {
          this.$overlay(false)
        })
    },

    update () {
      this.$axios
        .post(`update-discount/${this.form.id}`, this.form)
        .then((response) => {
          this.load()
          this.modal = false
          this.$notify({
            type : 'success',
            title: 'Update Success',
            text : response.data.data.message,
          })
        })
        .catch((err) => {
          this.$notify({
            type : 'error',
            title: 'Update Discount Failed',
            text : err.response.data.error.message,
          })
        })
        .then(() => {
          this.$overlay(false)
        })
    },

    remove (id) {
      this.$swal({
        title            : 'Are you sure?',
        text             : 'You will delete this data',
        type             : 'warning',
        showCancelButton : true,
        confirmButtonText: 'Yes, do it!',
      }).then((result) => {
        if (!result.value) return

        this.$axios
          .delete(`discount/${id}`)
          .then((response) => {
            this.load()
            this.$notify({
              type : 'success',
              title: 'Delete Success',
              text : response.data.data.message,
            })
          })
          .catch(() => {
            this.$notify({
              type : 'error',
              title: 'Delete Failed',
              text : 'Delete Discount Failed',
            })
          })
      })
    },

    updateField (item) {
      this.modal      = true
      this.title      = 'Update Discount'
      this.form.id    = item.id
      this.form.name  = item.name
      this.form.value = item.value
      if (item.status === true) this.form.status = 'active'
      else this.form.status = 'not-active'
    },

    cancel () {
      this.modal = false
      this.empty()
    },

    activateDiscount (item) {
      this.$axios
        .post(`update-discount_status/${item.id}`)
        .then((response) => {
          this.load()
        })
        .catch((err) => {
          console.error(err)
        })
    },
  },
}
</script>
