<template>
  <div class="content-body">
    <div class="content-title">
      <h2>User Management</h2>
    </div>
    <b-row>
      <b-col>
        <b-card no-body>
          <b-card-body>
            <b-row class="mb-1">
              <b-col
                md="4"
                class="my-1"
              >
                <b-form-group
                  label="Search"
                  class="mb-0"
                >
                  <b-input-group>
                    <b-form-input
                      v-model="search"
                      placeholder="Type to Search"
                      @keydown.enter.native="searching"
                    />
                    <b-button
                      v-if="search"
                      variant="danger"
                      class="btn-square ml-2"
                      @click="clear"
                    >
                      Clear
                    </b-button>
                  </b-input-group>
                </b-form-group>
              </b-col>
              <b-col
                md="2"
                class="my-1"
              >
                <b-form-group
                  label="Per Page"
                  class="mb-0"
                >
                  <b-form-select
                    v-model="params.limit"
                    :options="options"
                  />
                </b-form-group>
              </b-col>
              <b-col class="mt-5">
                <span class="text-secondary float-right">
                  <small>Employee Total: {{ total.employee }} | Non-Employee Total: {{ total.non_employee }}</small>
                </span>
              </b-col>
            </b-row>
            <b-table
              v-model="tableValues"
              :items="users"
              :fields="userFields"
              hover
              fixed
              @head-clicked="reset"
            >
              <template
                slot="level"
                slot-scope="row"
              >
                <b-form-select
                  v-if="row.item.karyawan"
                  v-model="row.item.level"
                  :options="levelOptions"
                  @change.native="changeLevel($event,row.item.id)"
                />
              </template>
              <template
                slot="employee"
                slot-scope="row"
              >
                <span v-if="row.item.karyawan === true">Employee</span>
                <span v-else>Not Employee</span>
              </template>
              <template
                slot="actions"
                slot-scope="row"
              >
                <no-ssr>
                  <toggle-button
                    v-model="row.item.karyawan"
                    :width="100"
                    :sync="true"
                    :labels="{checked: 'Employee', unchecked: 'Not Employee'}"
                    color="#2ecc71"
                    @change="changeStatus(row.item)"
                  />
                </no-ssr>
              </template>
            </b-table>
            <b-row>
              <b-col class="my-1">
                <p class="text-secondary text-right">
                  <small>Showing {{ startCount }} to {{ endCount }} of {{ params.total_objects }} Entries</small>
                </p>
                <b-pagination
                  v-if="isActive"
                  v-model="params.page"
                  :total-rows="params.total_objects"
                  :per-page="params.limit"
                  align="right"
                />
              </b-col>
            </b-row>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </div>
  <!-- .CONTENT-BODY -->
</template>

<script>
import _ from 'lodash'

export default {
  layout    : 'settings',
  name      : 'Employee',
  middleware: ['auth', 'admin-auth'],
  data () {
    return {
      all          : false,
      radioSelected: false,
      selectAll    : false,
      roleSelected : null,
      search       : null,
      users        : [],
      selected     : [],
      tableValues  : [],
      userFields   : [
        {
          key  : 'username',
          label: 'Privy ID',
        },
        {
          key  : 'name',
          label: 'Name',
        },
        {
          key  : 'email',
          label: 'Email',
        },
        {
          key  : 'actions',
          label: 'Actions',
        },
        {
          key  : 'level',
          label: 'Level',
        },
      ],
      employeeOptions: [
        {
          value: true,
          text : 'Employee',
        },
        {
          value: false,
          text : 'Not Employee',
        },
      ],
      roleOptions : [],
      levelOptions: [],
      params      : {
        page         : 1,
        limit        : 10,
        total_objects: 0,
        employee     : true,
      },
      total: {
        employee    : 0,
        non_employee: 0,
      },
      count: { start: 1 },
      value: '',
    }
  },

  computed: {
    getId () {
      const id = _.map(this.users, (item) => {
        return item.id
      })
      return id
    },
    getData () {
      const data = _.map(this.users, (item) => {
        return !item.karyawan
      })
      return data
    },
    isActive () {
      const total = this.params.total_objects
      const limit = this.params.limit

      if (total <= limit) return false
      return true
    },
    startCount () {
      const page  = this.params.page
      const limit = this.params.limit
      const total = this.params.total_objects

      if (page === 1 && total !== 0) return this.count.start
      else if (total === 0) return total
      return limit * (page - 1) + 1
    },
    endCount () {
      const page  = this.params.page
      const limit = this.params.limit
      const end   = limit * page
      const start = limit * (page - 1) + 1
      if (page === 1) {
        if (end >= this.params.total_objects) return this.params.total_objects
        return this.params.limit
      } else if (end >= this.params.total_objects)
        return this.params.total_objects
      return start + limit - 1
    },
    options () {
      return this.$store.get('session/options')
    },
  },

  watch: {
    'params.page'  : 'load',
    'params.limit' : 'load',
    'row.item.role': 'update',
    search (val) {
      if (val === '') this.load()
    },
  },

  mounted () {
    this.load()
    this.loadLevel()
    this.loadTotalEmployee()
  },

  methods: {
    clear () {
      this.reset()
      this.load()
    },
    pageCheck () {
      const total = this.params.total_objects
      const limit = this.params.limit
      if (total < limit) this.params.page = 1
    },
    load () {
      this.$overlay(true)
      this.pageCheck()
      this.all     = false
      const params = {
        name    : this.search,
        page    : this.params.page,
        per_page: this.params.limit,
      }
      this.$axios
        .get('user', { params: params })
        .then((response) => {
          const user                = response.data.data
          this.users                = _.map(user, (item) => {
            return {
              id      : item.id,
              username: item.username,
              name    : item.name,
              email   : item.email,
              role    : item.role.name,
              karyawan: item.karyawan,
              level   : item.level.toString(),
            }
          })
          this.params.total_objects = response.data.meta.pagination.total
        })
        .catch((err) => {
          console.error(err)
        })
        .then(() => {
          this.$overlay(false)
        })
    },
    searching () {
      this.$overlay(true)
      const params = {
        name    : this.search,
        per_page: this.params.limit,
      }
      this.$axios
        .get('user', { params: params })
        .then((response) => {
          const user                = response.data.data
          this.users                = _.map(user, (item) => {
            return {
              id      : item.id,
              username: item.username,
              name    : item.name,
              email   : item.email,
              role    : item.role.name,
              karyawan: item.karyawan,
              level   : item.level.toString(),
            }
          })
          this.params.total_objects = response.data.meta.pagination.total
          this.params.page          = 1
        })
        .catch((err) => {
          console.error(err)
        })
        .then(() => {
          this.$overlay(false)
          this.loadTotalEmployee()
        })
    },
    loadLevel () {
      this.$axios
        .get('level')
        .then((response) => {
          this.levelOptions = _.map(response.data.data, (item) => {
            return {
              value: item.id,
              text : item.name,
            }
          })
        })
        .catch((err) => {
          console.error(err)
        })
    },
    loadTotalEmployee () {
      this.$axios
        .get('count-karyawan')
        .then((response) => {
          this.total.employee     = response.data.data.employee
          this.total.non_employee = response.data.data.non_employee
        })
        .catch((err) => {
          console.error(err)
        })
    },
    reset () {
      this.search    = null
      this.selectAll = false
      this.selected  = []
      this.all       = false
    },
    toggleSelected () {
      this.selectAll = !this.selectAll
      if (this.selectAll) {
        this.all      = true
        this.selected = _.map(this.users, (item) => {
          return item.id
        })
      } else this.reset()
    },
    getAvailable () {
      if (this.params.employee === true) return 1
      return 0
    },
    update () {
      this.updateModal = true
    },
    changeStatus (item) {
      this.$overlay(true)
      const id = [item.id]
      this.$axios
        .post(`update-karyawan`, { id })
        .then((response) => {
          this.load()
          this.$notify({
            type : 'success',
            title: 'Update Success',
            text : 'You have successfully update this data',
          })
        })
        .catch((err) => {
          console.error(err)
        })
        .then(() => {
          this.$overlay(false)
        })
    },
    changeLevel (event, id) {
      const data = {
        user_id : id,
        level_id: parseInt(event.target.value),
      }
      this.$axios
        .post(`update-grouplevel/${id}`, data)
        .then((response) => {
          this.load()
          this.$notify({
            type : 'success',
            title: 'Update Success',
            text : response.data.data.message,
          })
          // return this.$store.dispatch("session/load");
        })
        .catch((err) => {
          console.error(err)
          this.$notify({
            type : 'error',
            title: 'Update Failed',
            text : err.response.data.error.message,
          })
        })
    },
  },
}
</script>
