<template>
  <div class="content-body" />
</template>
<script>
export default {
  layout    : 'settings',
  middleware: 'auth',
  data () {
    return {
      logoutModal: false,

      admin   : false,
      barista : false,
      user    : false,
      path    : 'http://192.168.50.10:8032/api/v1/export-product',
      profiles: [],
    }
  },

  mounted () {
    this.load()
    this.$router.push({ path: '/setting/profiles' })
  },

  methods: {
    load () {
      this.$axios
        .get('user-profile')
        .then((response) => {
          this.profiles = response.data.data
        })
        .catch((err) => {
          console.error(err)
        })
    },

    logoutConfirm () {
      this.logoutModal = true
    },

    logout () {
      this.$store.dispatch('session/logout').then(() => {
        this.$router.push('/')
      })
    },
  },
}
</script>
