<template>
  <section class="wrapper">
    <div class="content content-full">
      <navbar />

      <div class="content-body">
        <div class="content-title">
          <h2>Group Menu</h2>
        </div>
        <b-row>
          <b-col>
            <b-card no-body>
              <b-card-body>
                <b-row class="mb-1">
                  <b-col>
                    <div>
                      <b-breadcrumb :items="navigations" />
                    </div>
                  </b-col>
                </b-row>
                <b-row class="mb-1">
                  <b-col
                    md="2"
                    class="my-1"
                  >
                    <b-form-group
                      label="Filter"
                      class="mb-0"
                    >
                      <b-input
                        v-model="filter"
                        placeholder="Type to Search"
                        @keydown.enter.native="searching"
                      />
                    </b-form-group>
                  </b-col>
                  <b-col
                    md="2"
                    class="my-1"
                  >
                    <b-form-group
                      label="Per Page"
                      class="mb-0"
                    >
                      <b-form-select
                        v-model="params.limit"
                        :options="pageOptions"
                      />
                    </b-form-group>
                  </b-col>
                  <b-col class="my-1 text-right pt-4">
                    <b-button
                      size="sm"
                      variant="primary"
                      class="btn-square"
                      @click="addItem"
                    >
                      <span>Manage Product</span>
                    </b-button>
                  </b-col>
                </b-row>
                <b-row v-if="anyProduct">
                  <b-col class="text-right">
                    <small>You have product to manage</small>
                  </b-col>
                </b-row>

                <b-table
                  :items="items"
                  :fields="fields"
                  :per-page="params.limit"
                  fixed
                  hover
                >
                  <template
                    slot="price"
                    slot-scope="row"
                  >
                    Rp. {{ row.item.price }}
                  </template>
                  <template
                    slot="level_name"
                    slot-scope="row"
                  >
                    <b-badge
                      v-for="(level,index) in row.item.level_name"
                      :key="index"
                      variant="info"
                      class="mr-1"
                    >
                      {{ level }}
                    </b-badge>
                  </template>
                  <template
                    slot="actions"
                    slot-scope="row"
                  >
                    <b-button
                      size="sm"
                      variant="primary"
                      class="btn-square"
                      @click.stop="showItem(row.item)"
                    >
                      <i class="icon-pencil" />
                    </b-button>
                    <b-button
                      size="sm"
                      variant="danger"
                      class="btn-square"
                      @click.stop="deleteItemConfirm(row.item)"
                    >
                      <i class="icon-trash" />
                    </b-button>
                  </template>
                </b-table>
                <b-row>
                  <b-col class="my-1">
                    <b-pagination
                      v-model="params.page"
                      :total-rows="params.total_objects"
                      :per-page="params.limit"
                      align="right"
                    />
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </div>
      <!-- .CONTENT-BODY -->
    </div>
    <!-- .CONTENT -->
    <!-- MODAL -->
    <b-modal
      v-model="addModal"
      centered
    >
      <template slot="modal-header">
        <h4>Add Level Product</h4>
      </template>
      <div class="page-body">
        <b-form>
          <b-form-group
            label="Product Name"
            horizontal
          >
            <b-form-select
              v-model="productSelected"
              :options="products"
            >
              <template slot="first">
                <option
                  :value="null"
                  disabled
                >
                  --Select Product Name--
                </option>
              </template>
            </b-form-select>
          </b-form-group>
          <b-form-group
            label="Group Level"
            horizontal
          >
            <b-form-checkbox-group
              v-model="levelSelected"
              :options="levelOptions"
              plain
            />
          </b-form-group>
        </b-form>
      </div>
      <template slot="modal-footer">
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="default btn-sm btn-block"
            @click="addModal = false"
          >
            CANCEL
          </b-button>
        </b-col>
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="primary-gradient btn-sm btn-block"
            @click="createItem"
          >
            ADD
          </b-button>
        </b-col>
      </template>
    </b-modal>

    <b-modal
      v-model="editModal"
      centered
    >
      <template slot="modal-header">
        <h4>Manage Product Level</h4>
      </template>
      <div class="page-body">
        <b-form>
          <b-form-group
            label="Product Name"
            horizontal
          >
            <b-form-input
              v-model="item.name"
              disabled
            />
          </b-form-group>
          <b-form-group
            label="Product Price"
            horizontal
          >
            <b-form-input
              v-model="item.price"
              disabled
            />
          </b-form-group>
          <b-form-group
            label="Code Product"
            horizontal
          >
            <b-form-input
              v-model="item.code_product"
              disabled
            />
          </b-form-group>
          <b-form-group
            label="Group Level"
            horizontal
          >
            <b-form-checkbox-group
              v-model="levelSelected"
              :options="levelOptions"
              plain
            />
          </b-form-group>
        </b-form>
      </div>
      <template slot="modal-footer">
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="default btn-sm btn-block"
            @click="editModal = false"
          >
            CANCEL
          </b-button>
        </b-col>
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="primary-gradient btn-sm btn-block"
            @click="updateItem"
          >
            EDIT
          </b-button>
        </b-col>
      </template>
    </b-modal>
    <b-modal
      v-model="deleteModalItem"
      hide-footer
      hide-header
      centered
    >
      <div class="d-block text-center modal-orders">
        <h6 class="mt-3">
          Are You Sure to Delete This Product ?
        </h6>
        <b-row class="mb-3">
          <b-col sm="6">
            <b-button
              variant="danger-gradient sm-gradient btn-block"
              @click="deleteItem"
            >
              YES
            </b-button>
          </b-col>
          <b-col sm="6">
            <b-button
              variant="primary-gradient sm-gradient btn-block"
              @click="deleteModalItem = false"
            >
              NO
            </b-button>
          </b-col>
        </b-row>
      </div>
    </b-modal>
    <!-- END-MODAL -->
  </section>
</template>

<script>
import _ from 'lodash'

import Navbar from '~/components/Navbar.vue'
export default {
  components: { Navbar },
  middleware: ['auth', 'admin-auth'],
  data () {
    return {
      editModal      : false,
      addModal       : false,
      deleteModalItem: false,
      error          : false,
      anyProduct     : false,

      product_id     : null,
      category_id    : null,
      errorMessage   : null,
      availables     : null,
      productSelected: null,

      item: {
        product_id  : null,
        code_product: null,
        name        : null,
        price       : null,
      },
      params: {
        page         : 1,
        limit        : 10,
        total_objects: null,
      },
      fields: [
        'product_name',
        'price',
        'code_product',
        'level_name',
        'actions',
      ],
      navigations: [
        {
          text: 'Setting',
          to  : '/setting',
        },
        {
          text  : 'Product',
          active: true,
        },
      ],

      items        : [],
      menus        : [],
      categories   : [],
      selected     : [],
      levelSelected: [],
      levelOptions : [],
      products     : [],
      filter       : null,
      pageOptions  : [
        2,
        5,
        10,
      ],
    }
  },

  watch: {
    'params.page' : 'load',
    'params.limit': 'load',
    'filter'      : 'searching',
  },

  mounted () {
    this.load()
    this.loadLevel()
    this.uncreatedProduct()
  },

  methods: {
    load () {
      const params = {
        page    : this.params.page,
        per_page: this.params.limit,
      }
      this.$axios
        .get('menu', { params: params })
        .then((response) => {
          this.items                = response.data.data
          this.params.total_objects = response.data.meta.pagination.total
        })
        .catch((err) => {
          console.error(err)
        })
    },

    loadLevel () {
      this.$axios.get('level').then((response) => {
        this.levelOptions = _.map(response.data.data, (item) => {
          return {
            value: item.id,
            text : item.name,
          }
        })
      })
    },

    productLevel () {
      this.$axios
        .get(`product-menu/${this.item.product_id}`)
        .then((response) => {
          this.levelSelected = response.data.level
        })
        .catch((err) => {
          console.error(err)
        })
    },

    uncreatedProduct () {
      const params = {
        page    : this.params.page,
        per_page: this.params.limit,
      }
      this.$axios
        .get('uncreated-product-menu', { params: params })
        .then((response) => {
          this.products = _.map(response.data.data, (item) => {
            return {
              value: item.id,
              text : item.name,
            }
          })
          if (this.products.length !== 0) this.anyProduct = true
        })
        .catch((err) => {
          console.error(err)
        })
    },

    searching () {
      const params = { name: this.filter }
      this.$axios
        .get('menu-name', { params: params })
        .then((response) => {
          this.items = response.data
        })
        .catch((err) => {
          console.error(err)
        })
    },

    reset () {
      this.item             = []
      this.category         = []
      this.selected         = []
      this.categorySelected = null
    },

    showItem (item) {
      this.editModal         = true
      this.item.product_id   = item.product_id
      this.item.name         = item.product_name
      this.item.code_product = item.code_product
      this.item.price        = item.price
      this.productLevel()
    },

    deleteItemConfirm (item) {
      this.deleteModalItem = true
      this.item.product_id = item.product_id
    },

    addItem () {
      this.addModal = true
    },

    createItem () {
      const data = {
        product_id: this.productSelected,
        level_id  : this.levelSelected,
      }

      this.$axios
        .post('menu', data)
        .then((response) => {
          location.reload()
        })
        .catch((err) => {
          console.error(err)
        })
      this.addModal = false
    },

    updateItem () {
      const data = {
        product_id: this.item.product_id,
        level_id  : this.levelSelected,
      }

      this.$axios
        .post(`update-menu/`, data)
        .then((response) => {
          location.reload()
          this.error     = false
          this.editModal = false
        })
        .catch((err) => {
          console.error(err)
          this.error        = true
          this.errorMessage = err.message
        })
    },

    deleteItem () {
      this.$axios
        .delete(`menu/${this.item.product_id}`)
        .then((response) => {
          location.reload()
        })
        .catch((err) => {
          console.error(err)
        })
      this.editModal = false
    },
  },
}
</script>
