<template>
  <div class="content-body">
    <div class="content-title">
      <h2>Operations Hour</h2>
    </div>
    <b-row>
      <b-col>
        <b-card no-body>
          <b-card-body>
            <b-row>
              <div class="d-inline pl-3">
                <b-form-group label="Open Store">
                  <h2>
                    <b>{{ open }}</b>
                  </h2>
                </b-form-group>
              </div>
              <div class="d-inline pl-4">
                <b-form-group label="Close Store">
                  <h2>
                    <b>{{ close }}</b>
                  </h2>
                </b-form-group>
              </div>
              <div class="d-inline ml-2 icons-hover-edit">
                <i
                  class="icon-note icons-hover"
                  @click="isChange = !isChange"
                />
              </div>
            </b-row>
            <template v-if="isChange">
              <b-row>
                <b-col md="2">
                  <b-form-group label="Set Open Store">
                    <vue-timepicker
                      v-model="store.open"
                      format="HH:mm"
                    />
                  </b-form-group>
                </b-col>
                <b-col md="2">
                  <b-form-group label="Set Close Store">
                    <vue-timepicker
                      v-model="store.close"
                      format="HH:mm"
                    />
                  </b-form-group>
                </b-col>
                <b-col md="2">
                  <b-button
                    class="btn-square mt-4"
                    variant="primary"
                    @click="setTime()"
                  >
                    APPLY
                  </b-button>
                </b-col>
              </b-row>
            </template>
            <b-row>
              <b-col
                md="3"
                class="mt-4"
              >
                <b-button
                  variant="danger"
                  class="btn-square"
                  @click="remove"
                >
                  Close Order
                </b-button>
              </b-col>
            </b-row>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  layout    : 'settings',
  name      : 'Operations',
  middleware: ['auth'],
  data () {
    return {
      modal   : false,
      isChange: false,
      open    : '',
      close   : '',

      store: {
        open: {
          HH: null,
          mm: null,
          ss: null,
        },
        close: {
          HH: null,
          mm: null,
          ss: null,
        },
      },
    }
  },
  mounted () {
    this.load()
  },
  methods: {
    setTime () {
      const openStore = moment(
        `${this.store.open.HH}:${this.store.open.mm}:${this.store.open.ss}`,
        'hh:mm:ss'
      )

      const closeStore = moment(
        `${this.store.close.HH}:${this.store.close.mm}:${this.store.close.ss}`,
        'hh:mm:ss'
      )

      if (closeStore.isBefore(openStore)) {
        this.$notify({
          type : 'error',
          title: 'Set Time Error',
          text : 'Please fill in the data time correctly',
        })
      } else {
        const data = {
          open : moment(openStore).format('HH:mm:ss'),
          close: moment(closeStore).format('HH:mm:ss'),
        }
        this.$axios
          .post('update-operation_hours', data)
          .then((response) => {
            this.load()
            this.isChange = false
            this.$notify({
              type : 'success',
              title: 'Set Time Success',
              text : response.data.data.message,
            })
          })
          .catch((err) => {
            console.error(err)
          })
      }
    },
    load () {
      this.$axios
        .get('operation-hour')
        .then((response) => {
          const open          = response.data.data.open.split(':')
          const close         = response.data.data.close.split(':')
          this.store.open.HH  = open[0]
          this.store.open.mm  = open[1]
          this.store.open.ss  = open[2]
          this.store.close.HH = close[0]
          this.store.close.mm = close[1]
          this.store.close.ss = close[2]

          this.open  = `${this.store.open.HH}:${this.store.open.mm}`
          this.close = `${this.store.close.HH}:${this.store.close.mm}`
        })
        .catch((err) => {
          console.error(err)
        })
    },
    remove () {
      this.$swal({
        title            : 'Are you sure?',
        text             : 'It will remove all order data with a waiting status',
        type             : 'warning',
        showCancelButton : true,
        confirmButtonText: 'Yes, do it!',
      }).then((result) => {
        if (!result.value) return

        this.$axios
          .post('close-order')
          .then((response) => {
            this.$notify({
              type : 'success',
              title: 'Delete Data Success',
              text : 'You have successfully delete all waiting orders',
            })
          })
          .catch((err) => {
            console.error(err)
            this.$notify({
              type : 'error',
              title: 'Delete Data Failed',
              text : 'Orders data failed to delete',
            })
          })
      })
    },
  },
}
</script>
