<template>
  <div class="content-body">
    <div class="content-title">
      <h2>Products</h2>
    </div>
    <b-row>
      <b-col>
        <b-card class="mb-1">
          <b-tabs>
            <b-tab title="Product">
              <b-row class="mb-1">
                <b-col
                  md="2"
                  class="my-1"
                >
                  <b-form-group
                    label="Filter"
                    class="mb-0"
                  >
                    <b-input
                      v-model="filter"
                      placeholder="Type to Search"
                      @keydown.enter.native="searching"
                    />
                  </b-form-group>
                </b-col>
                <b-col
                  md="2"
                  class="my-1"
                >
                  <b-form-group
                    label="Per Page"
                    class="mb-0"
                  >
                    <b-form-select
                      v-model="params.limit"
                      :options="pageOptions"
                    />
                  </b-form-group>
                </b-col>
                <b-col
                  md="2"
                  class="my-1"
                >
                  <b-form-group label="Available Product">
                    <b-form-radio-group
                      v-model="params.available"
                      :options="availableOptions"
                      buttons
                      button-variant="outline-primary btn-square"
                    />
                  </b-form-group>
                </b-col>
                <b-col class="my-1 text-right pt-4">
                  <b-btn
                    variant="primary"
                    class="primary-gradient btn-square"
                    @click="addItem"
                  >
                    New Product
                  </b-btn>
                </b-col>
              </b-row>
              <b-table
                :items="items"
                :fields="fields"
                :per-page="params.limit"
                fixed
                hover
              >
                <template
                  slot="price"
                  slot-scope="row"
                >
                  Rp. {{ row.item.price }}
                </template>
                <template
                  slot="actions"
                  slot-scope="row"
                >
                  <b-button
                    size="sm"
                    variant="primary"
                    class="btn-square"
                    @click.stop="showItem(row.item)"
                  >
                    <i class="icon-pencil" />
                  </b-button>
                  <b-button
                    size="sm"
                    variant="danger"
                    class="btn-square"
                    @click.stop="deleteItemConfirm(row.item)"
                  >
                    <i class="icon-trash" />
                  </b-button>
                  <b-button
                    size="sm"
                    variant="warning"
                    class="btn-square"
                    @click="row.toggleDetails"
                  >
                    {{ row.detailsShowing ? 'Hide' : 'List' }}
                  </b-button>
                </template>
                <template
                  slot="row-details"
                  slot-scope="row"
                >
                  <b-card>
                    <b-row>
                      <b-col>{{ row.item.name }}</b-col>
                    </b-row>
                  </b-card>
                </template>
              </b-table>
              <b-row>
                <b-col class="my-1">
                  <b-pagination
                    v-model="params.page"
                    :total-rows="params.total_objects"
                    :per-page="params.limit"
                    align="right"
                  />
                </b-col>
              </b-row>
            </b-tab>
            <b-tab title="Tab 2">
              This is Tab2
            </b-tab>
            <b-tab title="Tab 3">
              This is Tab3
            </b-tab>
          </b-tabs>
        </b-card>
      </b-col>
    </b-row>

    <!-- MODAL -->
    <b-modal
      v-model="addModalItem"
      centered
    >
      <template slot="modal-header">
        <h4>Add Product</h4>
      </template>
      <div class="page-body">
        <b-form>
          <b-form-group
            label="Category"
            horizontal
          >
            <b-form-select
              v-model="categorySelected"
              :options="categoryOptions"
            />
          </b-form-group>
          <b-form-group
            label="Product Name"
            horizontal
          >
            <b-form-input v-model="item.name" />
          </b-form-group>
          <b-form-group
            label="Product Type"
            horizontal
          >
            <b-form-checkbox-group
              id="typeCheckbox"
              v-model="selected"
              :options="options"
              name="itemType"
            />
          </b-form-group>
          <b-form-group
            label="Product Price"
            horizontal
          >
            <b-form-input v-model="item.price" />
          </b-form-group>
          <b-form-group
            label="Product Image"
            horizontal
          >
            <b-form-file
              v-model="item.image"
              @change="onImageChange"
            />
          </b-form-group>
          <div
            v-if="url"
            class="modal-product__img"
          >
            <img
              :src="url"
              class="img_fluid"
            >
          </div>
          <b-form-group
            label="Product Code"
            horizontal
          >
            <b-form-input v-model="item.code_product" />
          </b-form-group>
        </b-form>
        <center v-if="error">
          <small class="text-danger">{{ errorMessage }}</small>
        </center>
      </div>
      <template slot="modal-footer">
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="default btn-lg btn-block"
            @click="cancel"
          >
            CANCEL
          </b-button>
        </b-col>
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="primary-gradient btn-lg btn-block"
            @click="createItem"
          >
            ADD
          </b-button>
        </b-col>
      </template>
    </b-modal>

    <b-modal
      v-model="editModal"
      centered
    >
      <template slot="modal-header">
        <h4>Edit Product</h4>
      </template>
      <div class="page-body">
        <b-form>
          <b-form-group
            label="Category ID"
            horizontal
          >
            <b-form-select
              v-model="item.category_id"
              :options="categoryOptions"
            />
          </b-form-group>
          <b-form-group
            label="Product Name"
            horizontal
          >
            <b-form-input v-model="item.name" />
          </b-form-group>
          <b-form-group
            label="Product Type"
            horizontal
          >
            <b-form-checkbox-group
              id="typeCheckbox"
              v-model="selected"
              :options="options"
              name="itemType"
            />
          </b-form-group>
          <b-form-group
            label="Available"
            horizontal
          >
            <b-form-radio-group
              id="typeCheckbox1"
              v-model="availableSelected"
              :options="availableOptions"
              name="itemType"
            />
          </b-form-group>
          <b-form-group
            label="Product Price"
            horizontal
          >
            <b-form-input v-model="item.price" />
          </b-form-group>
          <b-form-group
            label="Product Image"
            description="Image must be .png"
            horizontal
          >
            <b-form-file
              v-model="item.image"
              @change="onImageChange"
            />
          </b-form-group>
          <div
            v-if="url"
            class="modal-product__img"
          >
            <img
              :src="url"
              class="img_fluid"
            >
          </div>
          <b-form-group
            label="Product Code"
            horizontal
          >
            <b-form-input v-model="item.code_product" />
            <small
              v-if="error"
              class="text-danger"
            >{{ errorMessage }}</small>
          </b-form-group>
        </b-form>
      </div>
      <template slot="modal-footer">
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="default btn-lg btn-block"
            @click="cancel"
          >
            CANCEL
          </b-button>
        </b-col>
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="primary-gradient btn-lg btn-block"
            @click="updateItem"
          >
            EDIT
          </b-button>
        </b-col>
      </template>
    </b-modal>

    <b-modal
      v-model="deleteModalItem"
      hide-footer
      hide-header
      centered
    >
      <div class="d-block text-center modal-orders">
        <h6 class="mt-3">
          Are You Sure to Delete This Product ?
        </h6>
        <b-row class="mb-3">
          <b-col sm="6">
            <b-button
              variant="danger-gradient sm-gradient btn-block"
              @click="deleteItem"
            >
              YES
            </b-button>
          </b-col>
          <b-col sm="6">
            <b-button
              variant="primary-gradient sm-gradient btn-block"
              @click="deleteModalItem = false"
            >
              NO
            </b-button>
          </b-col>
        </b-row>
      </div>
    </b-modal>

    <b-modal
      v-model="typeModal"
      centered
    >
      <template slot="modal-header">
        <h4>Manage Product Type</h4>
      </template>
      <div class="page-body">
        <b-form @submit.prevent>
          <b-form-group label="Type List">
            <div
              v-for="(item,index) in options"
              :key="index"
              class="d-inline"
            >
              <p>{{ item }}</p>
            </div>
          </b-form-group>
        </b-form>
      </div>
      <template slot="modal-footer">
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="default btn-lg btn-block"
            @click="cancel"
          >
            CANCEL
          </b-button>
        </b-col>
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="primary-gradient btn-lg btn-block"
            @click="updateItem"
          >
            EDIT
          </b-button>
        </b-col>
      </template>
    </b-modal>
    <!-- END-MODAL -->
  </div>
  <!-- .CONTENT-BODY -->
</template>
<script>
import _ from 'lodash'

export default {
  layout    : 'settings',
  middleware: ['auth', 'admin-auth'],
  data () {
    return {
      editModal        : false,
      addModalItem     : false,
      deleteModalItem  : false,
      typeModal        : false,
      error            : false,
      availableSelected: true,

      product_id  : null,
      category_id : null,
      errorMessage: null,
      url         : null,

      item: {
        category_id : null,
        code_product: null,
        image       : null,
        name        : null,
        price       : null,
      },
      params: {
        page         : 1,
        limit        : 10,
        total_objects: null,
        available    : true,
      },

      items     : [],
      categories: [],
      selected  : [],

      fields: [
        'name',
        'price',
        'code_product',
        'actions',
      ],
      options: [
        'Hot',
        'Cold',
        'Athara',
        'Rosella',
        'Adisa',
        'Jalesveva',
      ],
      navigations: [
        {
          text: 'Setting',
          to  : '/setting',
        },
        {
          text  : 'Product',
          active: true,
        },
      ],
      categoryOptions : [],
      categoryData    : [],
      categorySelected: null,
      availableOptions: [
        {
          value: true,
          text : 'Yes',
        },
        {
          value: false,
          text : 'No',
        },
      ],
      filter     : null,
      pageOptions: [
        10,
        20,
        30,
      ],
    }
  },

  watch: {
    'params.page'     : 'load',
    'params.limit'    : 'load',
    'params.available': 'load',
    'filter'          : 'searching',
  },

  mounted () {
    this.load()
    this.loadCategories()
  },

  methods: {
    getAvailable () {
      if (this.params.available === true) return 1
      else return 0
    },

    load () {
      this.$overlay(true)
      const params = {
        page     : this.params.page,
        per_page : this.params.limit,
        available: this.getAvailable(),
      }
      this.$axios.get('product', { params: params })
        .then((response) => {
          this.items                = response.data.data
          this.params.total_objects = response.data.meta.pagination.total
        })
        .catch((err) => {
          console.error(err)
        })
        .then(() => {
          this.$overlay(false)
        })
    },

    searching () {
      const params = { name: this.filter }
      this.$axios
        .get('product-name', { params: params })
        .then((response) => {
          this.items = response.data.data
        })
        .catch((err) => {
          console.error(err)
        })
    },

    loadCategories () {
      this.$axios
        .get('categories')
        .then((response) => {
          this.categoryOptions = _.map(response.data.data, (item) => {
            return {
              value: item.id,
              text : item.name,
            }
          })
        })
        .catch((err) => {
          console.error(err)
        })
    },
    reset () {
      this.url              = null
      this.item             = []
      this.category         = []
      this.selected         = []
      this.categorySelected = null
    },
    cancel () {
      this.addModalItem = false
      this.editModal    = false
      this.error        = false
      this.reset()
    },

    onImageChange (e) {
      const file = e.target.files[0]
      this.url   = URL.createObjectURL(file)
    },

    showItem (item) {
      this.editModal         = true
      this.url               = item.image
      this.item.category_id  = item.category_id
      this.product_id        = item.id
      this.item.code_product = item.code_product
      this.item.image        = item.image
      this.item.name         = item.name
      this.item.price        = item.price
      this.selected          = item.type
      this.availableSelected = item.available
    },

    deleteItemConfirm (item) {
      this.deleteModalItem = true
      this.product_id      = item.id
    },

    addItem () {
      this.addModalItem = true
      this.reset()
    },

    createItem () {
      const form = this.item
      const type = this.selected
      const data = new FormData()

      data.append('category_id', this.categorySelected)
      data.append('code_product', form.code_product)
      data.append('image', form.image)
      data.append('name', form.name)
      data.append('price', form.price)
      type.forEach((element, i) => {
        data.append(`type[${i}]`, element)
      })

      this.$axios
        .post('product', data)
        .then((response) => {
          location.reload()
          this.addModalItem = false
        })
        .catch((err) => {
          console.error(err)
          this.error        = true
          this.errorMessage = err.response.data.error.message
        })
    },

    updateItem () {
      if (this.item.image === this.url) this.item.image = ''

      const form = this.item
      const type = this.selected
      const data = new FormData()

      if (this.availableSelected === true) this.availableSelected = 1
      else this.availableSelected = 0

      data.append('category_id', form.category_id)
      data.append('code_product', form.code_product)
      data.append('image', form.image)
      data.append('name', form.name)
      data.append('price', form.price)
      data.append('available', this.availableSelected)
      type.forEach((element, i) => {
        data.append(`type[${i}]`, element)
      })
      this.$axios
        .post(`update-product/${this.product_id}`, data)
        .then((response) => {
          location.reload()
          this.error     = false
          this.editModal = false
        })
        .catch((err) => {
          console.error(err)
          this.error        = true
          this.errorMessage = err.message
        })
    },

    deleteItem () {
      this.$axios
        .delete(`product/${this.product_id}`)
        .then((response) => {
          location.reload()
        })
        .catch((err) => {
          console.error(err)
        })
      this.editModal = false
    },
    manageType () {
      this.typeModal = true
    },
  },
}
</script>
