<template>
  <section class="wrapper">
    <div class="content-body">
      <div class="content-body">
        <b-card class="border-0">
          <b-row>
            <b-col md="3">
              <img
                src="@/assets/image/profile-orange.png"
                alt="img-profile"
                class="img-fluid"
              >
            </b-col>
            <b-col>
              <h4 class="font-weight-bold">
                <!-- {{ profile.name }} -->
              </h4>             
              <b-row>
                <b-col md="5">
                  <b-form-group label="Name">
                    <h6 class="text-secondary font-weight-bold">
                      <!-- {{ profile.name }} -->
                    </h6>
                  </b-form-group>
                  <b-form-group label="Email">
                    <h6 class="text-secondary font-weight-bold">
                      <!-- {{ profile.email }} -->
                    </h6>
                  </b-form-group>
                  <b-form-group label="Role">
                    <h6 class="text-secondary font-weight-bold">
                      <!-- {{ profile.role }} -->
                    </h6>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </b-card>
        <b-button
          variant="danger"
          size="sm"
          class="btn-square d-block d-sm-block d-md-none float-right mt-2 w-100"
          @click="logout"
        >
          Logout
        </b-button>
      </div>
    </div>
    <!-- MODAL -->
  </section>
</template>

<script>
export default {
  layout    : 'settings',
  middleware: 'auth',
  data () {
    return {
      logoutModal: false,
      profiles   : '',
    }
  },
  computed: {
    profile () {
      return this.$store.get('session/user')
    },
  },
  mounted () {
    // this.load()
  },
  methods: {
    load () {
      this.$axios
        .get('/user/me')
        .then((response) => {
          // console.log(response.data.data.user)
          this.profiles = response.data.data.user
          console.log(this.profiles)
        })
        .catch((err) => {
          console.error(err)
        })
    },
    logout () {
      this.$swal({
        title            : 'Are you sure?',
        text             : 'You want to logout from PRIVY-POS APP',
        type             : 'warning',
        showCancelButton : true,
        confirmButtonText: 'Logout',
      }).then((result) => {
        if (!result.value) return

        this.$store.dispatch('session/logout').then(() => {
          this.$router.push('/')
        })
      })
    },
  },
}
</script>
