<template>
  <div class="content-body">
    <div class="content-title">
      <h2>Employee List</h2>
    </div>
    <b-row>
      <b-col>
        <b-card no-body>
          <b-card-body>
            <b-row class="mb-1">
              <b-col
                md="4"
                class="my-1"
              >
                <b-form-group
                  label="Search"
                  class="mb-0"
                >
                  <b-input-group>
                    <b-form-input
                      v-model="search"
                      placeholder="Type to Search"
                      @keydown.enter.native="load"
                    />
                    <b-button
                      v-if="search"
                      variant="danger"
                      class="btn-square ml-2"
                      @click="clear"
                    >
                      Clear
                    </b-button>
                  </b-input-group>
                </b-form-group>
              </b-col>
              <b-col
                md="2"
                class="my-1"
              >
                <b-form-group
                  label="Per Page"
                  class="mb-0"
                >
                  <b-form-select
                    v-model="params.limit"
                    :options="pageOptions"
                  />
                </b-form-group>
              </b-col>
              <b-col
                md="2"
                class="my-1"
              >
                <b-form-group
                  label="User Type"
                  class="mb-0"
                >
                  <b-form-select
                    v-model="params.role"
                    :options="roleOptions"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-table
              v-model="tableValues"
              :items="users"
              :fields="userFields"
              hover
              fixed
            >
              <template
                slot="role"
                slot-scope="row"
              >
                <b-form-select
                  v-model="row.item.role"
                  :options="roleOptions"
                />
              </template>
              <template
                slot="actions"
                slot-scope="row"
              >
                <b-button
                  v-if="row.item.role !== params.role"
                  size="sm"
                  variant="primary"
                  class="btn-square"
                  @click.prevent="updateSingleItem(row.item)"
                >
                  Apply
                </b-button>
              </template>
            </b-table>
            <b-row>
              <b-col class="my-1">
                <p class="text-secondary text-right">
                  <small>Showing {{ startCount }} to {{ endCount }} of {{ params.total_objects }} Entries</small>
                </p>
                <b-pagination
                  v-if="isActive"
                  v-model="params.page"
                  :total-rows="params.total_objects"
                  :per-page="params.limit"
                  align="right"
                />
              </b-col>
            </b-row>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </div>
  <!-- .CONTENT-BODY -->
</template>

<script>
import _ from 'lodash'

export default {
  layout    : 'settings',
  middleware: ['auth', 'admin-auth'],
  data () {
    return {
      radioSelected: false,
      selectAll    : false,

      roleSelected: null,
      search      : null,

      users      : [],
      selected   : [],
      tableValues: [],
      userFields : [
        {
          key  : 'username',
          label: 'User Name',
        },
        {
          key  : 'name',
          label: 'Name',
        },
        {
          key  : 'email',
          label: 'Email',
        },
        {
          key  : 'role',
          label: 'User Type',
        },
        {
          key  : 'actions',
          label: 'Action',
        },
      ],
      roleOptions: [],
      pageOptions: [
        10,
        20,
        30,
      ],
      params: {
        page         : 1,
        limit        : 10,
        total_objects: null,
        role         : null,
      },
      count: { start: 1 },
    }
  },

  computed: {
    getId () {
      const id = _.map(this.users, (item) => {
        return item.id
      })
      return id
    },
    getData () {
      const data = _.map(this.users, (item) => {
        return !item.karyawan
      })
      return data
    },
    isActive () {
      const total = this.params.total_objects
      const limit = this.params.limit

      if (total <= limit) return false
      return true
    },
    startCount () {
      const page  = this.params.page
      const limit = this.params.limit
      const total = this.params.total_objects

      if (page === 1 && total !== 0) return this.count.start
      else if (total === 0) return total
      return limit * (page - 1) + 1
    },
    endCount () {
      const page  = this.params.page
      const limit = this.params.limit
      const end   = limit * page
      const start = limit * (page - 1) + 1
      if (page === 1) {
        if (end >= this.params.total_objects) return this.params.total_objects
        return this.params.limit
      } else if (end >= this.params.total_objects)
        return this.params.total_objects
      return start + limit - 1
    },
  },

  watch: {
    'params.page'  : 'load',
    'params.limit' : 'load',
    'params.role'  : 'load',
    'row.item.role': 'update',
    selected (a, b) {
      this.selectAll = this.tableValues.length === a.length
    },
  },

  mounted () {
    this.load()
    this.loadRole()
  },

  methods: {
    clear () {
      this.reset()
      this.load()
    },
    reset () {
      this.search = null
    },
    pageCheck () {
      const total = this.params.total_objects
      const limit = this.params.limit
      if (total < limit) this.params.page = 1
    },
    load () {
      this.$overlay(true)
      this.pageCheck()
      const params = {
        name    : this.search,
        page    : this.params.page,
        per_page: this.params.limit,
        roles_id: this.params.role,
        karyawan: 1,
      }
      this.$axios
        .get('user', { params: params })
        .then((response) => {
          const user                = response.data.data
          this.users                = _.map(user, (item) => {
            return {
              id      : item.id,
              username: item.username,
              name    : item.name,
              email   : item.email,
              role    : item.role.id,
              karyawan: item.karyawan,
            }
          })
          this.params.total_objects = response.data.meta.pagination.total
        })
        .catch((err) => {
          console.error(err)
        })
        .then(() => {
          this.$overlay(false)
        })
    },
    loadRole () {
      // const all = {
      //   value: 'all',
      //   text : 'All',
      // }
      this.$axios
        .get('role')
        .then((response) => {
          this.roleOptions = _.map(response.data.data, (item) => {
            return {
              value: item.id,
              text : item.name,
            }
          })
          // this.roleOptions.unshift(all);
          this.params.role = this.roleOptions[0].value
        })
        .catch((err) => {
          console.error(err)
        })
    },
    getIndex (item) {
      return _.findIndex(this.users, { id: item.id })
    },
    updateSingleItem (item) {
      const data = {
        roles_id: item.role,
        users_id: item.id,
      }
      // const index = this.getIndex(item);
      // const id = this.users[index].id;
      this.$axios
        .post(`update-role-user/${item.id}`, data)
        .then((response) => {
          this.load()
        })
        .catch((err) => {
          console.error(err)
        })
    },
    updateMultipleItem () {
      const id = this.selected
      this.$axios
        .post(`update-multikaryawan`, { id })
        .then((response) => {
          this.load()
          this.selectAll = false
          this.selected  = []
        })
        .catch((err) => {
          console.error(err)
        })
    },
    update () {
      this.updateModal = true
    },
  },
}
</script>
