<template>
  <section class="wrapper">
    <div class="content content-full">
      <navbar />

      <div class="content-body">
        <div class="content-title">
          <h2>User Group Level</h2>
        </div>
        <b-row>
          <b-col>
            <b-card no-body>
              <b-card-body>
                <b-row class="mb-1">
                  <b-col>
                    <b-breadcrumb :items="navigations" />
                  </b-col>
                </b-row>
                <b-row class="mb-1">
                  <b-col
                    md="2"
                    class="my-1"
                  >
                    <b-form-group
                      label="Filter"
                      class="mb-0"
                    >
                      <b-input
                        v-model="filter"
                        placeholder="Type to Search"
                      />
                    </b-form-group>
                  </b-col>
                  <b-col
                    md="2"
                    class="my-1"
                  >
                    <b-form-group
                      label="Per Page"
                      class="mb-0"
                    >
                      <b-form-select
                        v-model="params.limit"
                        :options="pageOptions"
                      />
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="mb-0">
                  <b-col>
                    <span class="text-secondary float-right">
                      <small class="font-weight-bold">Limit Portion for Users</small>
                    </span>
                  </b-col>
                </b-row>
                <b-row class="mb-1">
                  <b-col>
                    <span
                      v-for="(level,index) in levels"
                      :key="index"
                      class="ml-2 text-secondary float-right"
                    >
                      <small>{{ level.name }}: {{ level.limit }} |</small>
                    </span>
                  </b-col>
                </b-row>
                <b-table
                  :items="users"
                  :fields="userFields"
                  :filter="filter"
                  fixed
                  hover
                  @filtered="onFiltered"
                >
                  <template
                    slot="actions"
                    slot-scope="row"
                  >
                    <b-button
                      size="sm"
                      variant="primary"
                      class="btn-square"
                      @click.stop="showLevel(row.item)"
                    >
                      <i class="icon-pencil" />
                    </b-button>
                    <b-button
                      size="sm"
                      variant="danger"
                      class="btn-square"
                      @click.stop="deleteLevel(row.item)"
                    >
                      <i class="icon-trash" />
                    </b-button>
                  </template>
                </b-table>
                <b-row>
                  <b-col class="my-1">
                    <b-pagination
                      v-model="params.page"
                      :total-rows="params.total_objects"
                      :per-page="params.limit"
                      align="right"
                    />
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </div>
      <!-- .CONTENT-BODY -->
    </div>
    <!-- .CONTENT -->
    <!-- MODAL -->
    <b-modal
      v-model="editModal"
      centered
    >
      <template slot="modal-header">
        <h4>Edit User Level</h4>
      </template>
      <div class="page-body">
        <b-form>
          <b-form-group
            label="Username"
            horizontal
          >
            <b-form-input
              v-model="user.user_name"
              disabled
            />
          </b-form-group>
          <b-form-group
            label="Level Name"
            horizontal
          >
            <b-form-select
              v-model="user.level_id"
              :options="levelOptions"
            />
          </b-form-group>
        </b-form>
      </div>
      <template slot="modal-footer">
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="default btn-sm btn-block"
            @click="editModal = false"
          >
            CANCEL
          </b-button>
        </b-col>
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="primary-gradient btn-sm btn-block"
            @click="updateLevel"
          >
            EDIT
          </b-button>
        </b-col>
      </template>
    </b-modal>
    <b-modal
      v-model="deleteModal"
      hide-footer
      hide-header
      centered
    >
      <div class="d-block text-center modal-orders">
        <h6 class="mt-3">
          Are You Sure to Delete This Category ?
        </h6>
        <b-row class="mb-3">
          <b-col sm="6">
            <b-button
              variant="danger-gradient sm-gradient btn-block"
              @click="destroyLevel"
            >
              YES
            </b-button>
          </b-col>
          <b-col sm="6">
            <b-button
              variant="primary-gradient sm-gradient btn-block"
              @click="deleteModal = false"
            >
              NO
            </b-button>
          </b-col>
        </b-row>
      </div>
    </b-modal>
    <!-- END-MODAL -->
  </section>
</template>

<script>
import Navbar from '~/components/Navbar.vue'
import _ from 'lodash'

export default {
  components: { Navbar },
  middleware: ['auth', 'admin-auth'],
  data () {
    return {
      editModal  : false,
      deleteModal: false,

      users : [],
      levels: [],
      user  : {
        id       : null,
        user_name: null,
        level_id : null,
      },
      levelOptions: [],
      userFields  : [
        {
          key  : 'id',
          label: 'ID',
        },
        {
          key  : 'user_name',
          label: 'Username',
        },
        {
          key  : 'level_name',
          label: 'Level',
        },
        {
          key  : 'actions',
          label: 'Actions',
        },
      ],
      availableOptions: [
        {
          value: true,
          text : 'Yes',
        },
        {
          value: false,
          text : 'No',
        },
      ],
      navigations: [
        {
          text: 'Setting',
          to  : '/setting',
        },
        {
          text  : 'Product',
          active: true,
        },
      ],
      params: {
        page         : 1,
        limit        : 10,
        total_objects: null,
        available    : true,
      },

      filter     : null,
      totalRows  : 0,
      perPage    : 10,
      currentPage: 1,
      pageOptions: [
        2,
        5,
        10,
      ],
    }
  },

  watch: {
    'params.page' : 'load',
    'params.limit': 'load',
  },

  mounted () {
    this.load()
    this.loadLevel()
  },

  methods: {
    load () {
      const params = {
        page    : this.params.page,
        per_page: this.params.limit,
      }
      this.$axios
        .get('group-level', { params: params })
        .then((response) => {
          this.users                = _.map(response.data.data, (item) => {
            return {
              id        : item.id,
              level_id  : item.level_id,
              level_name: item.level_name,
              user_id   : item.user_id,
              user_name : item.user_name,
            }
          })
          this.params.total_objects = response.data.meta.pagination.total
        })
        .catch((err) => {
          console.error(err)
        })
    },

    loadLevel () {
      this.$axios
        .get('level')
        .then((response) => {
          this.levelOptions = _.map(response.data.data, (item) => {
            return {
              value: item.id,
              text : item.name,
            }
          })
          this.levels       = response.data.data
        })
        .catch((err) => {
          console.error(err)
        })
    },

    reset () {
      this.item  = []
      this.group = []
    },

    deleteLevel (item) {
      this.deleteModal   = true
      this.category_id   = item.id
      this.category.name = item.name
    },

    showLevel (item) {
      this.editModal      = true
      this.user.id        = item.id
      this.user.user_id   = item.user_id
      this.user.user_name = item.user_name
      this.user.level_id  = item.level_id
    },

    updateLevel () {
      const data = {
        user_id : this.user.user_id,
        level_id: this.user.level_id,
      }
      this.$axios
        .post(`update-grouplevel/${this.user.id}`, data)
        .then((response) => {})
        .catch((err) => {
          console.error(err)
        })

      this.editModal = false
    },

    destroyLevel () {
      this.$axios
        .delete(`categories/${this.category_id}`)
        .then((response) => {
          location.reload()
        })
        .catch((err) => {
          console.error(err)
        })
      this.editModal = false
    },
    onFiltered (filteredItems) {
      this.totalRows   = filteredItems.length
      this.currentPage = 1
    },
  },
}
</script>
