<template>
  <section class="wrapper">
    <no-ssr>
      <notifications position="top right" />
    </no-ssr>

    <div class="content">
      <navbar />
      <nuxt />
    </div>
  </section>
</template>

<script>
import Navbar from '~/components/Navbar.vue'
export default { components: { Navbar } }
</script>
