<template>
  <section class="wrapper">
    <no-ssr>
      <notifications position="top right" />
    </no-ssr>

    <div class="content-panel">
      <navbar />

      <sidebar />

      <nuxt />
    </div>
  </section>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
import Sidebar from '@/components/Sidebar.vue'

export default {
  components: {
    Navbar,
    Sidebar,
  },
}
</script>
