<template>
  <section class="container container-bg">
    <div class="page">
      <div class="page-header">
        <h4>
          <b>KOPI MAGE</b> POS
        </h4>
        <span>Signin to your accounts</span>
      </div>
      <div class="page-body">
        <b-form>
          <b-form-group label="Email">
            <b-form-input
              v-model="form.email"
              
              placeholder="Enter Your Email"
            />
          </b-form-group>
          <b-form-group label="Password">
            <b-form-input
              v-model="form.password"
              :state="formState"
              type="password"
              placeholder="Enter Your Password"
              @keyup.enter.native="submit"
            />
          </b-form-group>
          <center>
            <div v-if="error">
              <h6 class="text-danger">
                <small>{{ errorMessage }}</small>
              </h6>
            </div>
          </center>
          <b-button
            size="md"
            class="mt-4"
            variant="primary-gradient btn-lg btn-block"
            @click="submit"
          >
            SIGN IN
          </b-button>
        </b-form>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'blank',
  data () {
    return {
      errorMessage: null,
      error       : false,
      formState   : null,
      role        : null,

      form: {
        email: 'admin@admin.com',
        password: 'password'
      },
    }
  },

  // computed: {
  //   formState() {
  //     if (this.error) return false;
  //   }
  // },

  mounted () {
    this.load()
  },

  methods: {
    load () {
      this.$store.dispatch('session/logout')
    },
    submit () {
      this.$overlay(true)

      this.$axios
        .post('/oauth', this.form)
        .then((response) => {
          this.role = response.data.data.profile.roles[0]['name']
          // console.log(response.data.data.access_tokens.access_token)
          this.$store.commit('session/token', response.data.data.access_tokens.access_token)
          // this.$router.push({ path: '/menus' })
          return this.$store.dispatch('session/init')
        })
        .then((response) => {
          if (this.role === 'Super Admin') this.$router.push('/setting')
          else this.$router.push('/menus')
        })
        .catch((err) => {
          this.$notify({
            type: "error",
            title: "Login Failed",
            text: err.response.data.error.messages
          });
        })
        .then(() => {
          this.$overlay(false)
        })
    },
  },
}
</script>
