<template>
  <div
    :class="{'d-block':show}"
    class="sidebar"
  >
    <!-- ORDER ACCESS -->
    <template v-if="access === 'order'">
      <div class="sidebar-header">
        <b-row v-if="isPortion">
          <b-col md="7">
            <h4>Your limit portion</h4>
          </b-col>
          <b-col>
            <div class="sidebar-header-portion">
              <p>{{ userLevel.remaining_free_portion }}</p>
            </div>
          </b-col>
          <b-col>
            <i
              class="icon-close float-right icons-layout icons-hover d-block d-sm-block d-md-none"
              @click="$emit('close')"
            />
          </b-col>
        </b-row>
        <b-row v-else>
          <b-col>
            <center>
              <h4>
                <b>Your Cart Order</b>
              </h4>
            </center>
            <i
              class="icon-close float-right icons-layout icons-hover d-block d-sm-block d-md-none"
              @click="$emit('close')"
            />
          </b-col>
        </b-row>
      </div>
    </template>
    <!-- HISTORY ACCESS -->
    <template v-if="access === 'history'">
      <div
        v-if="indexList>0"
        class="sidebar-header"
      >
        <center>
          <i
            class="icon-close float-right icons-layout icons-hover d-block d-sm-block d-md-none"
            @click="$emit('close')"
          />
          <h4 class="font-weight-bold">
            {{ dateOrder }}
          </h4>
        </center>
      </div>
    </template>
    <!-- .SIDEBAR-HEADER -->
    <div class="sidebar-content">
      <!-- ORDER ACCESS -->
      <template v-if="access === 'order'">
        <div
          v-if="process"
          class="alert alert-proccess mt-2"
        >
          <center>Your ordered is being proccessed</center>
        </div>
      </template>
      <!-- HISTORY ACCESS -->
      <template v-if="access === 'history' && indexList>0">
        <div
          v-if="status !== 'completed'"
          class="alert alert-proccess mt-2"
        >
          <center>Your ordered is being proccessed</center>
        </div>
        <div
          v-else
          class="alert alert-complete mt-2"
        >
          <center>Your ordered is complete</center>
        </div>
      </template>
      <center v-if="error">
        <h6>
          <small class="text-danger">{{ errorMessage }}</small>
        </h6>
      </center>
      <div class="table-responsive table-wrapper-y">
        <table class="table mt-3">
          <tbody>
            <tr
              v-for="(cart,index) in cart"
              :key="index"
            >
              <td>
                <h6>{{ cart.name }}</h6>
                <span>{{ cart.type }}</span>
                <span class="noted">{{ cart.note }}</span>
              </td>
              <td>
                <h6>x{{ cart.qty }}</h6>
              </td>
              <td v-if="access === 'order'">
                <h6>{{ cart.str_price }}</h6>
              </td>
              <td v-if="access === 'history'">
                <h6>Rp. {{ cart.price }}</h6>
              </td>
              <template v-if="access === 'order'">
                <td>
                  <i
                    class="icon-note icons-hover"
                    @click="$emit('edit',cart,index)"
                  />
                </td>
                <td>
                  <i
                    class="icon-trash icons-hover"
                    @click="$emit('delete',index)"
                  />
                </td>
              </template>
              <template v-else>
                <td />
                <td />
              </template>
            </tr>
            <template v-if="access === 'order'">
              <tr v-if="indexList>0">
                <td>
                  <h6>
                    <!-- <em>Provided Discount by PrivyID</em> -->
                    <em>Discount {{ privyDiscount.name }}</em>
                  </h6>
                  <span class="noted">
                    <em>Rp. {{ discount }}</em>
                  </span>
                </td>
                <td />
                <td>
                  <h6>{{ privyDiscount.value }}%</h6>
                </td>
                <td />
                <td />
              </tr>
              <tr v-if="indexList>0">
                <td>
                  <h6>PPN {{ ppn }}%</h6>
                </td>
                <td />
                <td>
                  <h6>Rp. {{ ppnPrice }}</h6>
                </td>
                <td />
                <td />
              </tr>
            </template>
            <template v-if="access === 'history'">
              <tr v-if="indexList>0">
                <td>
                  <h6>
                    <em>Provided Discount by PrivyID</em>
                  </h6>
                  <span class="noted">
                    <em>Rp. {{ order.discount }}</em>
                  </span>
                </td>
                <td />
                <td>
                  <h6>{{ order.discount_percent }}%</h6>
                </td>
                <td />
                <td />
              </tr>
              <tr v-if="indexList>0">
                <td>
                  <h6>PPN {{ ppn }}%</h6>
                </td>
                <td />
                <td>
                  <h6>Rp. {{ order.ppn }}</h6>
                </td>
                <td />
                <td />
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>

    <div class="sidebar-footer">
      <table
        v-if="access === 'order'"
        class="table table-orders"
      >
        <tbody>
          <tr>
            <td>Subtotal</td>
            <td>Rp. {{ subTotal + ppnPrice }}</td>
          </tr>
          <tr>
            <td>
              <em>Total Discount</em>
            </td>
            <td>
              <em>-Rp. {{ discount }}</em>
            </td>
          </tr>
          <tr>
            <td>
              <h6 class="font-weight-bold">
                Total
              </h6>
            </td>
            <td>
              <h6 class="font-weight-bold">
                Rp. {{ total }}
              </h6>
            </td>
          </tr>
        </tbody>
      </table>
      <table
        v-if="access === 'history'"
        class="table table-orders"
      >
        <tbody>
          <tr>
            <td>Subtotal</td>
            <td>Rp. {{ order.subtotal }}</td>
          </tr>
          <tr>
            <td>
              <em>Total Discount</em>
            </td>
            <td>
              <em>-Rp. {{ order.discount }}</em>
            </td>
          </tr>
          <tr>
            <td>
              <h6 class="font-weight-bold">
                Total
              </h6>
            </td>
            <td>
              <h6 class="font-weight-bold">
                Rp. {{ order.total }}
              </h6>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        v-if="access === 'order'"
        class="footer-button"
      >
        <b-row class="mb-3" />
        <template v-if="loading">
          <b-button
            disabled
            variant="btn btn-primary-gradient btn-lg btn-block"
          >
            PLEASE WAIT
          </b-button>
        </template>
        <template v-else>
          <b-button
            :disabled="indexList === 0"
            variant="btn btn-success-gradient btn-lg btn-block"
            @click="$emit('order')"
          >
            ORDER
          </b-button>
        </template>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: [
    'show',
    'indexList',
    'userLevel',
    'access',
    'cart',
    'order',
    'ppn',
    'privyDiscount',
    'subTotal',
    'ppnPrice',
    'discount',
    'total',
    'errorMessage',
    'error',
    'status',
    'dateOrder',
    'loading',
    'process',
    'isPortion',
  ],
}
</script>
