<template>
  <section>
    <div class="content-body">
      <b-row>
        <b-col>
          <div class="search mb-3">
            <b-form-group label="Searching">
              <b-input-group>
                <b-input-group-text slot="prepend">
                  <strong class="text-default">
                    <i class="icon-magnifier" />
                  </strong>
                </b-input-group-text>
                <b-form-input
                  v-model="searchFilter"
                  placeholder="Search...."
                  @keydown.enter.native="searching"
                />
                <b-button
                  v-if="searchFilter"
                  variant="danger"
                  class="btn-square ml-2"
                  @click="clear"
                >
                  Clear
                </b-button>
              </b-input-group>
            </b-form-group>
          </div>
        </b-col>
        <b-col md="2">
          <b-form-group label="Sort">
            <b-form-select
              v-model="params.sort"
              :options="sortOptions"
            />
          </b-form-group>
        </b-col>
        <b-col md="2">
          <b-form-group label="Per Page">
            <b-form-select
              v-model="params.limit"
              :options="options"
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <span>
            <small class="text-secondary">
              <p>Complete Order Total: {{ params.total_objects }}</p>
            </small>
          </span>
        </b-col>
      </b-row>
      <b-card>
        <b-table
          :items="order"
          :fields="fields"
          hover
          @row-clicked="updateField"
        >
          <template
            slot="username"
            slot-scope="row"
          >
            <span class="text-primary">{{ row.item.username }}</span>
          </template>
          <template
            slot="status"
            slot-scope="row"
          >
            <span class="text-success d-inline">{{ row.item.status }}</span>
            <i class="icon-arrow-right text-primary float-right d-inline mt-1" />
          </template>
          <template
            slot="time_finish"
            slot-scope="row"
          >
            <span class="text-secondary">{{ row.item.time_finish }}</span>
          </template>
          <template
            slot="date"
            slot-scope="row"
          >
            <span class="font-weight-bold">{{ row.item.date }}</span>
            <span class="text-secondary">{{ row.item.time_order }}</span>
          </template>
        </b-table>
      </b-card>
      <b-row>
        <b-col class="my-1">
          <p class="text-secondary text-right mt-2 mb-1">
            <small>Showing {{ startCount }} to {{ endCount }} of {{ params.total_objects }} Entries</small>
          </p>
          <b-pagination
            v-if="isActive"
            v-model="params.page"
            :total-rows="params.total_objects"
            :per-page="params.limit"
            align="right"
          />
        </b-col>
      </b-row>
    </div>
    <!-- .CONTENT-BODY -->
    <div class="sidebar">
      <div
        v-if="indexList>0"
        class="sidebar-header"
      >
        <center>
          <h4 class="font-weight-bold">
            {{ username }}
          </h4>
          <h6 class="text-secondary">
            {{ name }}
          </h6>
        </center>
      </div>
      <!-- .SIDEBAR-HEADER -->
      <div class="sidebar-content">
        <table class="table table-responsive">
          <tbody>
            <tr
              v-for="(cart,index) in cart"
              :key="index"
            >
              <td>
                <h6>{{ cart.name }}</h6>
                <span>{{ cart.type }}</span>
                <span class="noted">{{ cart.note }}</span>
              </td>
              <td>
                <h6>x{{ cart.qty }}</h6>
              </td>
              <td>
                <h6>Rp. {{ cart.price }}</h6>
              </td>
              <td />
            </tr>
            <tr v-if="indexList>0">
              <td>
                <h6>
                  <em>Provided Discount by PrivyID</em>
                </h6>
                <span class="noted">
                  <em>Rp. {{ cartInfo.discount }}</em>
                </span>
              </td>
              <td />
              <td>
                <h6>{{ cartInfo.discount_percent }}%</h6>
              </td>
              <td />
              <td />
            </tr>
            <tr v-if="indexList>0">
              <td>
                <h6>PPN {{ ppn }}%</h6>
              </td>
              <td />
              <td>
                <h6>Rp. {{ cartInfo.ppn }}</h6>
              </td>
              <td />
              <td />
            </tr>
          </tbody>
        </table>
      </div>

      <div class="sidebar-footer">
        <table class="table table-orders">
          <tbody>
            <tr>
              <td>Subtotal</td>
              <td>Rp. {{ cartInfo.subtotal }}</td>
            </tr>
            <tr>
              <td>
                <em>Total Discount</em>
              </td>
              <td>- Rp. {{ cartInfo.discount }}</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>Rp. {{ cartInfo.total }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- .SIDEBAR -->
  </section>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

export default {
  middleware: 'auth',
  data () {
    return {
      modal        : false,
      loading      : false,
      search       : false,
      order_id     : null,
      index        : null,
      searchFilter : null,
      privyDiscount: null,
      order        : [],
      cart         : [],
      cartInfo     : [],
      statusColor  : '#fffe31',
      username     : '',
      name         : '',
      status       : '',
      buttonVariant: 'btn btn-success-gradient btn-lg btn-block',
      buttonProcess: 'PROCESS',

      ppn      : 10,
      indexList: 0,

      sortOptions: [
        {
          value: 'dsc',
          text : 'Recently',
        },
        {
          value: 'asc',
          text : 'Oldest',
        },
      ],
      fields: [
        {
          key  : 'username',
          label: 'Privy ID',
        },
        {
          key  : 'name',
          label: 'Name',
        },
        {
          key  : 'date',
          label: 'Date Order',
        },
        {
          key  : 'time_finish',
          label: 'Time Complete',
        },
        {
          key  : 'status',
          label: 'Status',
        },
      ],
      params: {
        page         : 1,
        limit        : 10,
        total_objects: 0,
        sort         : 'dsc',
        status       : 'completed',
      },
      count: { start: 1 },
    }
  },

  computed: {
    subTotal () {
      return this.cart.reduce((total, item) => {
        return total + item.price * item.qty
      }, 0)
    },
    ppnPrice () {
      const ppn = this.ppn
      return ((this.subTotal - this.discount) * ppn) / 100
    },
    discount () {
      return (this.subTotal * this.privyDiscount) / 100
    },
    total () {
      return this.subTotal + this.ppnPrice - this.discount
    },
    isActive () {
      const total = this.params.total_objects
      const limit = this.params.limit

      if (total <= limit) return false
      return true
    },
    options () {
      return this.$store.get('session/options')
    },
    startCount () {
      const page  = this.params.page
      const limit = this.params.limit
      const total = this.params.total_objects

      if (page === 1 && total !== 0) return this.count.start
      else if (total === 0) return total
      return limit * (page - 1) + 1
    },
    endCount () {
      const page  = this.params.page
      const limit = this.params.limit
      const end   = limit * page
      const start = limit * (page - 1) + 1
      if (page === 1) {
        if (end >= this.params.total_objects) return this.params.total_objects
        return this.params.limit
      } else if (end >= this.params.total_objects)
        return this.params.total_objects
      return start + limit - 1
    },
  },

  watch: {
    'params.page' : 'load',
    'params.limit': 'load',
    'params.sort' : 'load',
    'sortFilter'  : 'load',
    searchFilter (val) {
      if (val === '') {
        this.searchFilter = null
        this.load()
      }
    },
  },

  mounted () {
    this.load()
    this.loadDiscount()
  },

  methods: {
    clear () {
      this.searchFilter = null
      this.reset()
      this.load()
    },
    load () {
      this.reset()
      const params = {
        name    : this.searchFilter,
        page    : this.params.page,
        per_page: this.params.limit,
        status  : this.params.status,
        sort    : this.params.sort,
      }
      this.$axios
        .get('order', { params: params })
        .then((response) => {
          this.order = _.map(response.data.data, (item) => {
            return {
              id         : item.id,
              user_id    : item.user_id,
              username   : item.username,
              name       : item.name,
              date       : moment(item.created_at.date).format('DD-MMM-YYYY'),
              time_order : moment(item.created_at.date).format('LT'),
              time_finish: moment(item.updated_at.date).format('LT'),
              status     : item.status,
            }
          })

          this.params.total_objects = response.data.meta.pagination.total
        })
        .catch((err) => {
          console.error(err)
        })
    },

    searching () {
      const params = {
        name    : this.searchFilter,
        per_page: this.params.limit,
        status  : this.params.status,
        sort    : this.params.sort,
      }
      this.$axios
        .get('order', { params: params })
        .then((response) => {
          this.order = _.map(response.data.data, (item) => {
            return {
              id         : item.id,
              user_id    : item.user_id,
              username   : item.username,
              name       : item.name,
              date       : moment(item.created_at.date).format('DD-MMM-YYYY'),
              time_order : moment(item.created_at.date).format('LT'),
              time_finish: moment(item.updated_at.date).format('LT'),
              status     : item.status,
            }
          })

          this.params.total_objects = response.data.meta.pagination.total
          this.params.page          = 1
        })
        .catch((err) => {
          console.error(err)
        })
    },

    loadDiscount () {
      this.$axios
        .get('event-discount')
        .then((response) => {
          this.privyDiscount = response.data.data.value
        })
        .catch((err) => {
          console.error(err)
        })
    },

    reset () {
      this.cart      = []
      this.cartInfo  = []
      this.indexList = 0
      this.username  = null
      this.name      = null
      this.search    = false
      this.order.forEach((element) => {
        delete element._rowVariant
      })
    },

    activeRow (id) {
      const orderId = id

      const index                   = _.findIndex(this.order, { id: orderId })
      this.order[index]._rowVariant = 'primary'
    },

    updateField (item) {
      this.reset()
      this.activeRow(item.id)
      this.order_id  = item.id
      this.username  = item.username
      this.name      = item.name
      this.status    = item.status
      this.indexList = 1

      this.$axios
        .get(`order/${this.order_id}`)
        .then((response) => {
          this.cart     = response.data.order_detail.original.data
          this.cartInfo = response.data.order.original.data
        })
        .catch((err) => {
          console.error(err)
        })
      if (this.status !== 'prosessing') {
        this.buttonProcess = 'PROCESS'
        this.buttonVariant = 'btn btn-success-gradient btn-lg btn-block'
      } else {
        this.buttonProcess = 'FINISH ORDER'
        this.buttonVariant = 'btn btn-primary-gradient btn-lg btn-block'
      }
    },
  },
}
</script>
