<template>
  <section>
    <div class="content-body">
      <b-row class="mb-3">
        <b-col>
          <span class="font-weight-bold">Filter</span>
        </b-col>
      </b-row>

      <b-row class="mb-3">
        <b-col>
          <datepicker
            v-model="range.start"
            :disabled-dates="disabledStart"
            placeholder="Select Date"
            @input="onRange"
          />
        </b-col>

        <b-col>
          <datepicker
            v-model="range.end"
            :disabled-dates="disabledEnd"
            placeholder="Select Date"
          />
        </b-col>
        <b-col md="3">
          <b-form-group>
            <b-form-select
              v-model="params.limit"
              :options="options"
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-card>
        <b-table
          :items="orderList"
          :fields="fields"
          :per-page="params.limit"
          hover
          @row-clicked="detailOrder"
        >
          <template
            slot="date"
            slot-scope="row"
          >
            <span class="font-weight-bold">{{ row.item.date }}</span>
            <span class="text-secondary">{{ row.item.time_order }}</span>
          </template>
          <template
            slot="total"
            slot-scope="row"
          >
            <span
              v-if="row.item.total !== 0"
              class="font-weight-bold"
            >{{ row.item.total }}</span>
            <span
              v-else
              class="font-weight-bold"
            >Free</span>
          </template>
          <template
            slot="time_finish"
            slot-scope="row"
          >
            <span class="text-secondary">{{ row.item.time_finish }}</span>
          </template>
          <template
            slot="status"
            slot-scope="row"
          >
            <span
              v-if="row.item.status === 'processing'"
              class="text-primary d-inline"
            >{{ row.item.status }}</span>
            <span
              v-else-if="row.item.status === 'completed'"
              class="text-success d-inline"
            >{{ row.item.status }}</span>
            <span
              v-else
              class="d-inline"
            >{{ row.item.status }}</span>
          </template>
        </b-table>
        <b-pagination
          v-if="isActive"
          v-model="params.page"
          :total-rows="params.total_objects"
          :per-page="params.limit"
          align="right"
        />
      </b-card>

      <!-- .MODAL -->
      <b-modal
        v-model="modal"
        hide-footer
        hide-header
      >
        <div class="d-block text-center modal-orders">
          <h6 class="mt-3">
            Whoa! You've just ordered something
          </h6>

          <span>
            Whoa! You've just ordered something.
            Here is the detail of your order. Take your chill time while we process your order mate!
          </span>
          <table class="table mt-4 mb-4">
            <tbody>
              <tr>
                <td>Order ID</td>
                <td>A23DER21</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>Rp. 0</td>
              </tr>
            </tbody>
          </table>
          <b-btn
            class="mb-3"
            variant="primary-gradient sm-gradient"
            @click="close"
          >
            I'LL WAIT
          </b-btn>

          <p class="small">
            When your food's ready, we'll notify you anyway!
          </p>
        </div>
      </b-modal>

      <b-modal
        v-model="cancelModal"
        hide-footer
        hide-header
        centered
      >
        <div class="d-block text-center modal-orders">
          <h6 class="mt-3">
            Are You Sure to Cancel This Order ?
          </h6>
          <b-row class="mb-3">
            <b-col sm="6">
              <b-button
                variant="danger-gradient sm-gradient btn-block"
                @click="deleteOrder"
              >
                YES
              </b-button>
            </b-col>
            <b-col sm="6">
              <b-button
                variant="primary-gradient sm-gradient btn-block"
                @click="cancelModal = false"
              >
                NO
              </b-button>
            </b-col>
          </b-row>
        </div>
      </b-modal>
      <!-- .END MODAL -->
    </div>
    <!-- .CONTENT-BODY -->
    <sidebar-order
      :show="show"
      :date-order="dateOrder"
      :cart="cart"
      :order="order"
      :index-list="indexList"
      :ppn="ppn"
      :status="status"
      :access="access"
      @close="show = !show"
    />
  </section>
</template>

<script>
import SidebarOrder from '~/components/order/SidebarOrder.vue'
import _ from 'lodash'
import moment from 'moment'

const filters = [{ value: 'dsc', text: 'Newest' }, { value: 'asc', text: 'Oldest' }]

export default {
  components: { SidebarOrder },
  middleware: 'auth',
  layout    : 'setting',
  data () {
    return {
      modal         : false,
      cancelModal   : false,
      show          : false,
      filters       : filters,
      orderList     : [],
      cart          : [],
      order         : [],
      order_id      : null,
      dateOrder     : '',
      status        : null,
      item_id       : null,
      sortBy        : 'date',
      filterSelected: 'dsc',
      access        : 'history',

      indexList    : 0,
      ppn          : 10,
      privyDiscount: null,

      range: {
        start: moment()
          .startOf('M')
          .toDate(),
        end: moment().toDate(),
      },
      fields: [
        {
          key  : 'date',
          label: 'Date Order',
        },
        // {
        //   key  : 'time_finish',
        //   label: 'Time Complete',
        // },
        {
          key  : 'total',
          label: 'Total',
        },
        {
          key  : 'status',
          label: 'Status',
        },
        // {
        //   key: "actions",
        //   label: "Action"
        // }
      ],
      params: {
        page         : 1,
        limit        : 10,
        total_objects: null,
      },
    }
  },

  computed: {
    disabledStart () {
      return { from: new Date() }
    },
    disabledEnd () {
      return {
        to  : moment(this.range.start).toDate(),
        from: moment().toDate(),
      }
    },
    user () {
      return this.$store.get('session/user')
    },
    isActive () {
      const total = this.params.total_objects
      const limit = this.params.limit

      if (total <= limit) return false
      return true
    },
    options () {
      return this.$store.get('session/options')
    },
  },

  watch: {
    'params.page'   : 'load',
    'params.limit'  : 'load',
    'filterSelected': 'load',
    'range.start'   : 'load',
    'range.end'     : 'load',
  },

  mounted () {
    this.load()
    this.loadDiscount()
  },

  methods: {
    onRange () {
      const date     = moment(this.range.start)
        .add(1, 'M')
        .subtract(1, 'd')
      this.range.end = moment.min(date, moment()).toDate()
    },
    load () {
      const user   = this.user
      const params = {
        start_date: moment(this.range.start).format('YYYY-MM-DD'),
        end_date  : moment(this.range.end).format('YYYY-MM-DD'),
        page      : this.params.page,
        per_page  : this.params.limit,
        sort      : this.filterSelected,
      }

      this.$axios
        .get(`user-order/${user.user_id}`, { params: params })
        .then((response) => {
          this.orderList = _.map(response.data.data, (item) => {
            return {
              id         : item.id,
              user_id    : item.user_id,
              user_name  : item.user_name,
              status     : item.status,
              date       : moment(item.created_at.date).format('DD-MMM-YYYY'),
              time_order : moment(item.created_at.date).format('LT'),
              time_finish: moment(item.updated_at.date).format('LT'),
              discount   : item.discount,
              ppn        : item.ppn,
              subtotal   : item.subtotal,
              total      : item.total,
            }
          })
          if (this.orderList.length !== 0)
            this.detailOrder(_.head(this.orderList))
          else {
            this.indexList = 0
            this.cart      = []
            this.order     = []
          }

          this.params.total_objects = response.data.meta.pagination.total
        })
        .catch((err) => {
          console.error(err)
        })
    },

    loadDiscount () {
      this.$axios
        .get('event-discount')
        .then((response) => {
          this.privyDiscount = response.data.data.value
        })
        .catch((err) => {
          console.error(err)
        })
    },

    activeRow (id) {
      const orderId = id

      const index                       = _.findIndex(this.orderList, { id: orderId })
      this.orderList[index]._rowVariant = 'primary'
    },

    detailOrder (item) {
      this.reset()
      this.activeRow(item.id)
      this.show      = true
      this.indexList = 1
      this.order_id  = item.id
      this.dateOrder = item.date
      this.status    = item.status

      this.$axios
        .get(`order/${this.order_id}`)
        .then((response) => {
          this.order = response.data.order.original.data
          this.cart  = response.data.order_detail.original.data
        })
        .catch((err) => {
          console.error(err)
        })
    },

    reset () {
      this.orderList.forEach((element) => {
        delete element._rowVariant
      })
      this.indexList = 0
    },

    cancelOrder (item) {
      this.cancelModal = true
      this.order_id    = item.id
    },

    deleteOrder () {
      this.$axios
        .delete(`order/${this.order_id}`)
        .then((response) => {
          this.load()
          this.cancelModal = false
        })
        .catch((err) => {
          console.error(err)
        })
    },

    orders () {
      this.modal = true
    },

    close () {
      this.modal = false
    },
  },
}
</script>
