<template>
  <div>
    <b-row class="mb-1">
      <b-col
        md="4"
        class="my-1"
      >
        <b-form-group
          label="Search"
          class="mb-0"
        >
          <b-input-group>
            <b-form-input
              v-model="search"
              placeholder="Type to Search"
              @keydown.enter.native="searching"
            />
            <b-button
              v-if="search"
              variant="danger"
              class="btn-square ml-2"
              @click="clear"
            >
              Clear
            </b-button>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col
        md="2"
        class="my-1"
      >
        <b-form-group
          label="Per Page"
          class="mb-0"
        >
          <b-form-select
            v-model="params.limit"
            :options="options"
          />
        </b-form-group>
      </b-col>
      <!-- <b-col md="4" class="my-1">
        <b-form-group label="Product Availability">
          <b-form-radio-group
            :options="availableOptions"
            v-model="params.available"
            buttons
            button-variant="outline-primary btn-square"
          />
        </b-form-group>
      </b-col>-->
      <b-col class="my-1 text-right pt-4">
        <template v-if="access === 'category'">
          <b-btn
            variant="primary"
            class="primary-gradient btn-square"
            @click="addItem"
          >
            New Product
          </b-btn>
        </template>
        <template v-else>
          <b-btn
            variant="primary"
            class="primary-gradient btn-square"
            @click="show"
          >
            Manage Product
          </b-btn>
        </template>
      </b-col>
    </b-row>
    <b-table
      :items="product"
      :fields="fields"
    >
      <template
        slot="level"
        slot-scope="row"
      >
        <b-badge
          v-for="(level,index) in row.item.level"
          :key="index"
          variant="info"
          class="mr-1"
        >
          {{ level }}
        </b-badge>
      </template>
      <template
        slot="actions"
        slot-scope="row"
      >
        <b-button
          size="sm"
          variant="primary"
          class="btn-square"
          @click.stop="editItem(row.item)"
        >
          <i class="icon-pencil" />
        </b-button>
        <b-button
          size="sm"
          variant="danger"
          class="btn-square"
          @click.stop="remove(row.item.id)"
        >
          <i class="icon-trash" />
        </b-button>
        <!-- <b-button
          size="sm"
          variant="warning"
          class="btn-square"
          @click.stop="manageItem(row.item)"
        >Manage</b-button>-->
      </template>
    </b-table>
    <b-row>
      <b-col class="my-1">
        <p class="text-secondary text-right">
          <small>Showing {{ startCount }} to {{ endCount }} of {{ params.total_objects }} Entries</small>
        </p>
        <b-pagination
          v-if="isActive"
          v-model="params.page"
          :total-rows="params.total_objects"
          :per-page="params.limit"
          align="right"
        />
      </b-col>
    </b-row>

    <!-- MODAL -->
    <b-modal
      v-model="addModal"
      centered
      no-close-on-backdrop
    >
      <template slot="modal-header">
        <h4>Add Product</h4>
        <div class="justify-right">
          <h6 @click="close">
            X
          </h6>
        </div>
      </template>
      <div class="page-body">
        <b-form>
          <b-form-group
            label="Category"
            horizontal
          >
            <b-form-input
              v-model="categorySelected"
              disabled
            />
          </b-form-group>
          <b-form-group
            label="Product Name"
            horizontal
          >
            <b-form-input v-model="item.name" />
          </b-form-group>
          <b-form-group
            label="Product Price"
            horizontal
          >
            <b-form-input
              v-model="item.price"
              type="number"
            />
          </b-form-group>
          <b-form-group
            label="Product Image"
            horizontal
          >
            <b-form-file
              ref="productImage"
              v-model="item.image"
              @change="onImageChange"
            />
          </b-form-group>
          <div
            v-if="url"
            class="modal-product__img"
          >
            <img
              :src="url"
              class="img_fluid"
            >
          </div>
          <b-form-group
            label="Product Code"
            horizontal
          >
            <b-form-input v-model="item.code_product" />
          </b-form-group>
        </b-form>
        <center v-if="error">
          <small class="text-danger">{{ errorMessage }}</small>
        </center>
      </div>
      <template slot="modal-footer">
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="default btn-lg btn-block"
            @click="cancel"
          >
            CANCEL
          </b-button>
        </b-col>
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="primary-gradient btn-lg btn-block"
            @click="createItem"
          >
            ADD
          </b-button>
        </b-col>
      </template>
    </b-modal>
    <b-modal
      v-model="editModal"
      centered
      no-close-on-backdrop
    >
      <template slot="modal-header">
        <h4>Edit Product</h4>
        <div class="justify-right">
          <h6 @click="close">
            X
          </h6>
        </div>
      </template>
      <div class="page-body">
        <b-form>
          <b-form-group
            label="Category ID"
            horizontal
          >
            <b-form-select
              v-model="categoryId"
              :options="categoryOptions"
            />
          </b-form-group>
          <b-form-group
            label="Product Name"
            horizontal
          >
            <b-form-input v-model="item.name" />
          </b-form-group>
          <b-form-group
            label="Available"
            horizontal
          >
            <b-form-radio-group
              id="typeCheckbox1"
              v-model="availableSelected"
              :options="availableOptions"
              name="itemType"
            />
          </b-form-group>
          <b-form-group
            label="Product Price"
            horizontal
          >
            <b-form-input
              v-model="item.price"
              type="number"
            />
          </b-form-group>
          <b-form-group
            label="Product Image"
            description="Image must be .png"
            horizontal
          >
            <b-form-file
              v-model="item.image"
              @change="onImageChange"
            />
          </b-form-group>
          <div
            v-if="url"
            class="modal-product__img"
          >
            <img
              :src="url"
              class="img_fluid"
            >
          </div>
          <b-form-group
            label="Product Code"
            horizontal
          >
            <b-form-input v-model="item.code_product" />
            <small
              v-if="error"
              class="text-danger"
            >{{ errorMessage }}</small>
          </b-form-group>
        </b-form>
      </div>
      <template slot="modal-footer">
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="default btn-lg btn-block"
            @click="cancel"
          >
            CANCEL
          </b-button>
        </b-col>
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="primary-gradient btn-lg btn-block"
            @click="updateItem"
          >
            NEXT
          </b-button>
        </b-col>
      </template>
    </b-modal>
    <b-modal
      v-model="manageModal"
      centered
      no-close-on-backdrop
    >
      <template slot="modal-header">
        <h4>Manage Product Level</h4>
        <div class="justify-right">
          <h6 @click="close">
            X
          </h6>
        </div>
      </template>
      <div class="page-body">
        <b-form>
          <b-form-group
            label="Product Name"
            horizontal
          >
            <b-form-input
              v-model="item.name"
              disabled
            />
          </b-form-group>
          <b-form-group
            label="Group Level"
            horizontal
          >
            <b-form-checkbox-group
              v-model="levelSelected"
              :options="levelOptions"
            />
          </b-form-group>
        </b-form>
      </div>
      <template slot="modal-footer">
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="default btn-sm btn-block"
            @click="back"
          >
            BACK
          </b-button>
        </b-col>
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="primary-gradient btn-sm btn-block"
            @click="updateManage"
          >
            APPLY
          </b-button>
        </b-col>
      </template>
    </b-modal>
    <b-modal
      v-model="productModal"
      no-close-on-backdrop
      centered
    >
      <template slot="modal-header">
        <h4>Add {{ data.name }} Product</h4>
      </template>
      <div class="page-body">
        <b-row>
          <b-col class="my-1">
            <b-form-group
              label="Search"
              class="mb-0"
            >
              <b-input-group>
                <b-form-input
                  v-model="searchCategory"
                  placeholder="Type to Search"
                  @keydown.enter.native="searchingCategory"
                />
                <b-button
                  v-if="search"
                  variant="danger"
                  class="btn-square ml-2"
                  @click="clear"
                >
                  Clear
                </b-button>
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col class="my-1">
            <b-form-group
              label="Per Page"
              class="mb-0"
            >
              <b-form-select
                v-model="pagination.limit"
                :options="options"
              />
            </b-form-group>
          </b-col>
          <b-col class="my-1">
            <b-form-group label="Product Category">
              <b-form-select
                v-model="selectedCategory"
                :options="categoryOptions"
              />
            </b-form-group>
          </b-col>
        </b-row>
      </div>
      <b-row>
        <b-col>
          <b-table
            v-model="tableValues"
            :items="productLevel"
            :fields="productFields"
            hover
          >
            <template
              slot="HEAD_checkbox"
              slot-scope="head"
            >
              {{ head.label }} &nbsp;
              <input
                v-model="selectAll"
                type="checkbox"
                @click.stop="toggleSelected"
              >
            </template>
            <template
              slot="checkbox"
              slot-scope="row"
            >
              <b-form-checkbox
                v-model="selected"
                :value="row.item.id"
                @click.stop
              />
            </template>
          </b-table>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="my-1">
          <b-pagination
            v-if="isBusy"
            v-model="pagination.page"
            :total-rows="pagination.total_objects"
            :per-page="pagination.limit"
            align="right"
          />
        </b-col>
      </b-row>
      <template slot="modal-footer">
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            variant="default btn-sm btn-block"
            @click="productModal = false"
          >
            CLOSE
          </b-button>
        </b-col>
        <b-col
          md="6"
          sm="6"
        >
          <b-button
            :disabled="isDisabled"
            variant="primary-gradient btn-sm btn-block"
            @click="manageLevel"
          >
            APPLY
          </b-button>
        </b-col>
      </template>
    </b-modal>
  </div>
</template>
<script>
import _ from 'lodash'
export default {
  props: ['data', 'access'],
  data () {
    return {
      addModal    : false,
      editModal   : false,
      manageModal : false,
      deleteModal : false,
      productModal: false,
      isDisabled  : false,

      error            : false,
      isAdd            : false,
      selectAll        : false,
      productId        : null,
      url              : null,
      errorMessage     : null,
      search           : null,
      searchCategory   : null,
      availableSelected: null,
      available        : null,
      selectedCategory : 1,
      categoryId       : this.data.id,
      categorySelected : this.data.name,
      levelSelected    : [],
      product          : [],
      tableValues      : [],
      selected         : [],
      productLevel     : [],
      availableOptions : [
        {
          value: true,
          text : 'Available',
        },
        {
          value: false,
          text : 'Not Available',
        },
      ],
      productFields: [
        {
          key  : 'checkbox',
          label: 'Select All',
        },
        {
          key  : 'name',
          label: 'Name',
        },
        {
          key  : 'price',
          label: 'Price',
        },
        {
          key  : 'code_product',
          label: 'Product Code',
        },
      ],
      categoryOptions: [],
      levelOptions   : [],
      params         : {
        page         : 1,
        limit        : 10,
        total_objects: 0,
        available    : true,
      },
      pagination: {
        page         : 1,
        limit        : 10,
        total_objects: 0,
        available    : true,
      },
      item: {
        name        : null,
        price       : null,
        image       : null,
        code_product: null,
      },
      count: { start: 1 },
    }
  },
  computed: {
    isActive () {
      const total = this.params.total_objects
      const limit = this.params.limit

      if (total <= limit) return false
      return true
    },

    isBusy () {
      const total = this.pagination.total_objects
      const limit = this.pagination.limit

      if (total <= limit) return false
      return true
    },

    startCount () {
      const page  = this.params.page
      const limit = this.params.limit
      const total = this.params.total_objects

      if (page === 1 && total !== 0) return this.count.start
      else if (total === 0) return total
      return limit * (page - 1) + 1
    },
    endCount () {
      const page  = this.params.page
      const limit = this.params.limit
      const end   = limit * page
      const start = limit * (page - 1) + 1
      if (page === 1) {
        if (end >= this.params.total_objects) return this.params.total_objects
        return this.params.limit
      } else if (end >= this.params.total_objects)
        return this.params.total_objects
      return start + limit - 1
    },
    options () {
      return this.$store.get('session/options')
    },
    getApi () {
      if (this.access === 'category') return 'category-product'
      return 'level-product'
    },
    // getParam() {
    //   if (this.access === "category") {
    //     return {
    //       name: this.search,
    //       category_id: this.data.id,
    //       page: this.params.page,
    //       per_page: this.params.limit,
    //       available: this.getAvailable()
    //     };
    //   } else {
    //     return {
    //       name: this.search,
    //       id: this.data.id,
    //       page: this.params.page,
    //       per_page: this.params.limit,
    //       available: this.getAvailable()
    //     };
    //   }
    // },
    fields () {
      if (this.access === 'category') {
        return [
          {
            key  : 'name',
            label: 'Name',
          },
          {
            key  : 'price',
            label: 'Price',
          },
          {
            key  : 'code_product',
            label: 'Product Code',
          },
          {
            key  : 'level',
            label: 'Product Level',
          },
          {
            key  : 'actions',
            label: 'Actions',
          },
        ]
      } else {
        return [
          {
            key  : 'name',
            label: 'Name',
          },
          {
            key  : 'price',
            label: 'Price',
          },
          {
            key  : 'code_product',
            label: 'Product Code',
          },
        ]
      }
    },
  },
  watch: {
    'params.limit'    : 'load',
    'params.page'     : 'load',
    'pagination.limit': 'showProduct',
    'pagination.page' : 'showProduct',
    'params.available': 'load',
    'selectedCategory': 'showProduct',
    search (val) {
      if (val === '') this.load()
    },
    searchCategory (val) {
      if (val === '') this.showProduct()
    },
    selected (a, b) {
      // const value = Math.abs(a.length - this.tableValues.length);
      // this.selectAll = this.tableValues.length === a.length - value;

      this.selectAll = this.tableValues.length === a.length
    },
  },
  mounted () {
    this.load()
    this.loadCategories()
    this.loadLevel()
  },
  methods: {
    toggleSelected () {
      // this.selected = this.selectAll ? this.tableValues : [];
      this.selectAll = !this.selectAll
      if (this.selectAll) {
        this.all      = true
        this.selected = _.map(this.productLevel, (item) => {
          return item.id
        })
      } else this.erase()
      // Array.prototype.unique = function() {
      //   var a = this.concat();
      //   for (var i = 0; i < a.length; ++i) {
      //     for (var j = i + 1; j < a.length; ++j) {
      //       if (a[i] === a[j]) a.splice(j--, 1);
      //     }
      //   }

      //   return a;
      // };
      // this.selectAll = !this.selectAll;

      // const item = _.map(this.productLevel, item => {
      //   return item.id;
      // });

      // if (this.selectAll) {
      //   this.all = true;
      //   if (this.selected.length !== 0) {
      //     this.selected = this.selected.concat(item).unique();
      //   } else {
      //     this.selected = item;
      //   }
      // this.selected = this.selected.concat(item);
      // } else this.erase();
    },
    erase () {
      this.selected  = []
      this.selectAll = false
    },
    getAvailable () {
      if (this.params.available === true) return 1
      else return 0
    },
    onImageChange (e) {
      const file = e.target.files[0]
      this.url   = URL.createObjectURL(file)
    },
    clear () {
      this.reset()
      this.load()
    },
    reset () {
      this.search        = ''
      this.url           = ''
      this.item          = {
        name        : '',
        price       : '',
        image       : '',
        code_product: '',
      }
      this.$refs.productImage.reset()
      this.selectAll     = false
      this.selected      = []
      this.levelSelected = []
    },

    pageCheck () {
      const total = this.params.total_objects
      const limit = this.params.limit
      if (total < limit) this.params.page = 1
    },

    load () {
      this.pageCheck()
      const param = {
        name     : this.search,
        id       : this.data.id,
        page     : this.params.page,
        per_page : this.params.limit,
        available: this.getAvailable(),
      }
      this.$axios
        .get(this.getApi, { params: param })
        .then((response) => {
          this.product              = response.data.data
          this.params.total_objects = response.data.meta.pagination.total
        })
        .catch((err) => {
          console.error(err)
        })
    },

    searching () {
      const param = {
        name     : this.search,
        id       : this.data.id,
        per_page : this.params.limit,
        available: this.getAvailable(),
      }
      this.$axios
        .get(this.getApi, { params: param })
        .then((response) => {
          this.product              = response.data.data
          this.params.total_objects = response.data.meta.pagination.total
          this.params.page          = 1
        })
        .catch((err) => {
          console.error(err)
        })
    },

    loadCategories () {
      this.$axios
        .get('categories')
        .then((response) => {
          this.categoryOptions  = _.map(response.data.data, (item) => {
            return {
              value: item.id,
              text : item.name,
            }
          })
          this.selectedCategory = this.categoryOptions[0].value
        })
        .catch((err) => {
          console.error(err)
        })
    },
    loadLevel () {
      this.$axios.get('level').then((response) => {
        this.levelOptions = _.map(response.data.data, (item) => {
          return {
            value: item.id,
            text : item.name,
          }
        })
      })
    },
    addItem () {
      this.reset()
      this.addModal = !this.addModal
    },
    createItem () {
      const form = this.item
      const data = new FormData()

      data.append('category_id', this.categoryId)
      data.append('code_product', form.code_product)
      data.append('image', form.image)
      data.append('name', form.name)
      data.append('price', form.price)

      this.$axios
        .post('product', data)
        .then((response) => {
          this.load()
          this.manageModal = true
          this.productId   = response.data.data.id
          this.addModal    = false
          this.isAdd       = true
          this.$notify({
            type : 'success',
            title: 'Create Success',
            text : 'You have successfully create new Product',
          })
        })
        .catch((err) => {
          this.$notify({
            type : 'error',
            title: 'Create Failed',
            text : err.response.data.error.message,
          })
        })
    },
    setItem (item) {
      this.url               = item.image
      this.categoryId        = item.category_id
      this.productId         = item.id
      this.item.code_product = item.code_product
      this.item.image        = item.image
      this.item.name         = item.name
      this.item.price        = item.price
      this.availableSelected = item.available
    },
    editItem (item) {
      this.isAdd     = false
      this.editModal = true
      this.setItem(item)
    },
    updateItem () {
      const form = this.item
      if (this.availableSelected === true) this.available = 1
      else this.available = 0
      const data = new FormData()

      data.append('category_id', this.categoryId)
      data.append('code_product', form.code_product)
      if (form.image !== this.url) data.append('image', form.image)
      data.append('name', form.name)
      data.append('price', form.price)
      data.append('available', this.available)

      this.$axios
        .post(`update-product/${this.productId}`, data)
        .then((response) => {
          this.load()
          this.error     = false
          this.editModal = false
          this.manageItem()
          this.$notify({
            type : 'success',
            title: 'Update Success',
            text : response.data.data.message,
          })
        })
        .catch((err) => {
          this.$notify({
            type : 'error',
            title: 'Update Failed',
            text : err.response.data.error.message,
          })
        })
    },
    remove (id) {
      this.$swal({
        title            : 'Are you sure?',
        text             : 'You will delete this data',
        type             : 'warning',
        showCancelButton : true,
        confirmButtonText: 'Yes, do it!',
      }).then((result) => {
        if (!result.value) return

        this.$axios
          .delete(`product/${id}`)
          .then((response) => {
            this.load()
            this.$notify({
              type : 'success',
              title: 'Delete Success',
              text : response.data.data.message,
            })
          })
          .catch(() => {
            this.$notify({
              type : 'error',
              title: 'Delete Failed',
              text : 'Delete Product Failed',
            })
          })
      })
    },
    levelProduct (id) {
      this.$axios
        .get(`product-menu/${id}`)
        .then((response) => {
          this.levelSelected = response.data.level
        })
        .catch((err) => {
          console.error(err)
        })
    },
    manageItem () {
      this.manageModal = true
      this.levelProduct(this.productId)
    },
    updateManage () {
      const data = {
        product_id: this.productId,
        level_id  : this.levelSelected,
      }
      this.$axios
        .post(`update-menu/`, data)
        .then((response) => {
          this.error       = false
          this.manageModal = false
          this.load()
          this.$notify({
            type : 'success',
            title: 'Update Success',
            text : response.data.data.message,
          })
        })
        .catch((err) => {
          this.$notify({
            type : 'error',
            title: 'Update Failed',
            text : err.response.data.error.message,
          })
        })
    },
    // selectedCheck(item) {
    // const value = Math.abs(this.selected.length - this.productLevel.length);
    // console.log(value);
    // if (this.selected.length !== 0) {
    //   this.selectAll =
    //     this.productLevel.length === this.selected.length - value;
    //   console.log(this.selectAll);
    // } else {
    //   this.selectAll = false;
    // }
    //   item.forEach(element => {
    //     const value =
    //   });
    // },
    show () {
      this.productModal = true
      this.showProduct()
    },
    showProduct () {
      this.reset()
      const param = {
        name     : this.searchCategory,
        id       : this.selectedCategory,
        page     : this.pagination.page,
        per_page : this.pagination.limit,
        available: this.getAvailable(),
      }
      this.$axios
        .get('category-product', { params: param })
        .then((response) => {
          this.productLevel             = response.data.data
          this.pagination.total_objects = response.data.meta.pagination.total
          // this.selectedCheck(response.data.data);
          this.productLevel.forEach((element) => {
            if (element.level.includes(this.data.name))
              this.selected.push(element.id)
          })
          if (this.selected.length === this.productLevel.length)
            this.tableValues = this.productLevel
          else if (this.selected.length === 0) {
            this.selected.push(0)
            this.selectAll = false
          } else this.selectAll = false
        })
        .catch((err) => {
          console.error(err)
        })
    },

    searchingCategory () {
      const param = {
        name     : this.searchCategory,
        id       : this.selectedCategory,
        per_page : this.pagination.limit,
        available: this.getAvailable(),
      }
      this.$axios
        .get('category-product', { params: param })
        .then((response) => {
          this.productLevel             = response.data.data
          this.pagination.total_objects = response.data.meta.pagination.total
          this.pagination.page          = 1
        })
        .catch((err) => {
          console.error(err)
        })
    },

    manageLevel () {
      this.$overlay(true)
      const data = {
        level_id   : this.data.id,
        product_id : this.selected,
        category_id: this.selectedCategory,
      }
      this.$axios
        .post('update-menu_level', data)
        .then((response) => {
          this.$notify({
            type : 'success',
            title: 'Manage Success',
            text : 'You have successfully manage the product',
          })
          this.showProduct()
          this.load()
        })
        .catch((err) => {
          console.error(err)
          this.$notify({
            type : 'error',
            title: 'Manage Failed',
            text : 'Data not found',
          })
        })
        .then(() => {
          this.$overlay(false)
        })
    },

    back () {
      if (this.isAdd) {
        this.addModal    = true
        this.manageModal = false
      } else {
        this.editModal   = true
        this.manageModal = false
      }
    },
    close () {
      this.addModal    = false
      this.editModal   = false
      this.manageModal = false
    },
    cancel () {
      this.addModal     = false
      this.editModal    = false
      this.manageModal  = false
      this.productModal = false
      this.error        = false
      this.reset()
    },
  },
}
</script>
